@font-face {
  font-family: 'Lato';
  src: url('/static/fonts/Lato-Reg.ttf') format('truetype');
       /* url('/static/fonts/Lato-Bol.ttf') format('truetype'); */
  font-weight: normal;
  font-style: normal;
}
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: #ccc3;
  /* font-size: 0.5vw; */
  line-height: 2rem;
  font-family: 'Lato', sans-serif;
}

.organize {
  display: flex !important;
  flex-wrap: wrap;
}

.organize a {
  font-size: 2rem;
  line-height: 2.5;
  font-weight: 600;
}


.btn {
  font-size: 1rem;
}

.remove-button-class{
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s,background-color .15s,border-color .15s,box-shadow .15s;
  font-size: 1rem;
  color: #fff;
  background-color: #b81f44;
  border-color: #ad1e40;
  margin-left: 5rem;
}

.fullscreen-bg {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hait{
  min-height: 60vh;
}

.customPadding{
  padding-top: 6rem!important;
}
.fullscreen-bg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.fixed-sidebar .app-main .app-main__outer {
  padding-left: 0 !important;
}

.evaluation-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.stage,
.editing-section {
  display: none;
  margin-bottom: 20px;
}

#user-info {
  margin-bottom: -0.7rem;
  font-size: 1.1rem;
}

#signUpForm {
  /* max-width: 500px; */
  background-color: #ffffff;
  /* margin: 10px auto; */
  padding: 40px;
  box-shadow: 0px 6px 8px rgb(0 0 0 / 9%);
  border-radius: 12px;
}
#signUpForm .form-header {
  gap: 5px;
  text-align: center;
  /* font-size: 2rem; */
}
#signUpForm .form-header .stepIndicator {
  position: relative;
  flex: 1;
  padding-bottom: 30px;
}
#signUpForm .form-header .stepIndicator.active {
  font-weight: 600;
}
#signUpForm .form-header .stepIndicator.finish {
  font-weight: 600;
  color: #3ac47d;
}
#signUpForm .form-header .stepIndicator::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  z-index: 9;
  width: 20px;
  height: 20px;
  background-color: #d5efed;
  border-radius: 50%;
  border: 3px solid #ecf5f4;
}
#signUpForm .form-header .stepIndicator.active::before {
  background-color: #a7ede8;
  border: 3px solid #d5f9f6;
}
#signUpForm .form-header .stepIndicator.finish::before {
  background-color: #3ac47d;
  border: 3px solid #009688;
}
#signUpForm .form-header .stepIndicator::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 8px;
  width: 100%;
  height: 3px;
  background-color: #f3f3f3;
}
#signUpForm .form-header .stepIndicator.active::after {
  background-color: #a7ede8;
}
#signUpForm .form-header .stepIndicator.finish::after {
  background-color: #3ac47d;
}
#signUpForm .form-header .stepIndicator:last-child:after {
  display: none;
}
#signUpForm input {
  padding: 15px 20px;
  width: 100%;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
}
#signUpForm input:focus {
  border: 1px solid #3ac47d;
  outline: 0;
}
#signUpForm input.invalid {
  border: 1px solid #ffaba5;
}
#signUpForm .step {
  display: none;
}
#signUpForm .form-footer {
  overflow: auto;
  gap: 50%;
}
#signUpForm .form-footer button {
  background-color: #3ac47d;
  /* background-color: #009688; */
  /* border: 1px solid #3ac47d !important; */
  color: #ffffff;
  border: none;
  padding: 8px 15px;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 5px;
  flex: 1;
  margin-top: 5px;
}
#signUpForm .form-footer button:hover {
  opacity: 0.8;
}
#signUpForm .form-footer #prevBtn {
  background-color: #fff;
  color: #3ac47d;
}

.minus,.plus {
  width: 30px;
  height: 30px;
  background-color: #6bc46d;
  color: white;
  border-radius: 50%;
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  cursor: pointer;
  font-weight: 700;
  margin-left: 1.5rem;
}

.fitting{
  width: max-content;
}

.showDigit{
  display: block;
  width: 5rem;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
@media only screen and (max-width: 1320px) {
  .header-user-info {
    display: block !important;
  }
}
@media (max-width: 991.98px) {
  .app-header .app-header__content {
    visibility: visible !important;
    opacity: 1 !important;
  }
}
