{% extends "base.html" %} {% block title %}Admin Page{% endblock %} {% block
content %}

<div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
  <div class="app-header header-shadow">
    <div class="app-header__logo">
      <div class="" id=""></div>
      <div class="header__pane ml-auto"></div>
    </div>
    <div class="app-header__mobile-menu"></div>
    <div class="app-header__menu"></div>
    <div class="app-header__content">
      <div class="app-header-right">
        <div class="header-btn-lg pr-0">
          <div class="widget-content p-0">
            <div class="widget-content-wrapper">
              <div class="widget-content-left ml-3 header-user-info">
                <div class="widget-heading" id="user-info">
                  {{ session.username }}
                </div>
                <div class="widget-subheading">{{ session.role }}</div>
              </div>
              <div class="widget-content-right header-user-info ml-3">
                <button type="button" class="btn-shadow p-1 btn btn-primary btn-sm" id="logoutButton">
                  Logout
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui-theme-settings">
    <div class="theme-settings__inner">
      <div class="scrollbar-container">
        <div class="theme-settings__options-wrapper">
          <h3 class="themeoptions-heading">Layout Options</h3>
          <div class="p-3">
            <ul class="list-group">
              <li class="list-group-item">
                <div class="widget-content p-0">
                  <div class="widget-content-wrapper">
                    <div class="widget-content-left mr-3">
                      <div class="switch has-switch switch-container-class" data-class="fixed-header">
                        <div class="switch-animate switch-on">
                          <input type="checkbox" checked data-toggle="toggle" data-onstyle="success" />
                        </div>
                      </div>
                    </div>
                    <div class="widget-content-left">
                      <div class="widget-heading">Fixed Header</div>
                      <div class="widget-subheading">
                        Makes the header top fixed, always visible!
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="widget-content p-0">
                  <div class="widget-content-wrapper">
                    <div class="widget-content-left mr-3">
                      <div class="switch has-switch switch-container-class" data-class="fixed-sidebar">
                        <div class="switch-animate switch-on">
                          <input type="checkbox" checked data-toggle="toggle" data-onstyle="success" />
                        </div>
                      </div>
                    </div>
                    <div class="widget-content-left">
                      <div class="widget-heading">Fixed Sidebar</div>
                      <div class="widget-subheading">
                        Makes the sidebar left fixed, always visible!
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="widget-content p-0">
                  <div class="widget-content-wrapper">
                    <div class="widget-content-left mr-3">
                      <div class="switch has-switch switch-container-class" data-class="fixed-footer">
                        <div class="switch-animate switch-off">
                          <input type="checkbox" data-toggle="toggle" data-onstyle="success" />
                        </div>
                      </div>
                    </div>
                    <div class="widget-content-left">
                      <div class="widget-heading">Fixed Footer</div>
                      <div class="widget-subheading">
                        Makes the app footer bottom fixed, always visible!
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="p-3">
            <ul class="list-group">
              <li class="list-group-item">
                <h5 class="pb-2">Page Section Tabs</h5>
                <div class="theme-settings-swatches">
                  <div role="group" class="mt-2 btn-group">
                    <button type="button" class="btn-wide btn-shadow btn-primary btn btn-secondary switch-theme-class"
                      data-class="body-tabs-line">
                      Line
                    </button>
                    <button type="button"
                      class="btn-wide btn-shadow btn-primary active btn btn-secondary switch-theme-class"
                      data-class="body-tabs-shadow">
                      Shadow
                    </button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="app-main">
    <div class="app-main__outer">
      <div class="app-main__inner">
        <div class="row">
          <div class="col mb-3">
            <div class="card shadow-lg">
              <div class="card-header bg-malibu-beach">Add Teacher</div>
              <div class="card-body">
                <form id="apiTeacherForm" method="POST">
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <label for="dropdown">First Name</label>
                        <input type="text" class="form-control" id="firstname" name="firstname"
                          placeholder="First Name" />
                      </div>
                      <div class="form-group">
                        <label for="dropdown">Last Name</label>
                        <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Last Name" />
                      </div>


                    </div>
                    <div class="col">
                      <div class="form-group">
                        <label for="dropdown">Gender</label>
                        <select id="gender" name="gender" class="form-control" required>
                          <option disabled selected value>Select</option>
                          <option value="female">Female</option>
                          <option value="male">Male</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="dropdown">Phone Number</label>
                        <input type="text" class="form-control" id="phone_number" name="phone_number" placeholder="Phone Number" />
                      </div>
                    </div>
                    </div>
                  </div>

                  <button type="submit" class="btn btn-primary">
                    Add Teacher
                  </button>
                </form>
                {% if error_message %}
                <div class="p-2 mt-3 d-flex justify-content-center badge badge-danger">
                  {{ error_message }}
                </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-lg-4">
            <div class="mb-3 card">
              <div class="card-header-tab card-header-tab-animation card-header">
                <div class="card-header-title">
                  <i class="header-icon lnr-apartment icon-gradient bg-love-kiss">
                  </i>
                  Teachers
                </div>
              </div>
              <div class="card-body">
                <div class="tab-content">
                  <div class="tab-pane fade show active" id="tabs-eg-77">

                    <div class="table-responsive">
                      <table class="align-middle mb-0 table table-bordered table-striped table-hover border">
                        <thead>
                          <tr>
                            <th class="text-center">#</th>
                            <th>Name</th>
                            <th class="text-center">Phone</th>
                          </tr>
                        </thead>
                        <tbody class="bg-neutral-warning"></tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-8">
            <div class="mb-3 card">
              <div class="card-header-tab card-header-tab-animation card-header">
                <div class="card-header-title">
                  <i class="header-icon lnr-apartment icon-gradient bg-love-kiss">
                  </i>
                  Students
                </div>
              </div>
              <div class="card-body">
                <div class="tab-content">
                  <div class="tab-pane fade show active" id="tabs-eg-77">
                    <div class="table-responsive">
                      <table class="align-middle mb-0 table table-bordered table-striped table-hover border">
                        <thead>
                          <tr>
                            <th class="text-center">#</th>
                            <th>Name</th>
                            <th class="text-center">Registration Number</th>
                            <th class="text-center">Gender</th>
                            <th class="text-center"> Nationality</th>
                          </tr>
                        </thead>
                        <tbody class="bg-neutral-warning tablel tbodyl"></tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
      <div class="app-wrapper-footer">
        <div class="app-footer">
          <div class="app-footer__inner">
            <div class="app-footer-left">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script></script>

<script>
  // Retrieve the token value passed from the Flask template
  const token = "{{ token }}";
  const user = "{{ user }}";
  const role = "{{ role }}";

  // Check if the token is not empty and store it in local storage
  if (token) {
    localStorage.setItem("token", token);
  }
  if (user) {
    localStorage.setItem("user", user);
  }
  if (role) {
    localStorage.setItem("role", role);
  }
  function logout() {
    // Clear the user token from localStorage
    localStorage.clear();

    // Redirect to the index.html page
    window.location.href = "/"; // Redirect to the index page
  }

  // Attach the logout function to the logout button/link
  const logoutButton = document.getElementById("logoutButton");
  if (logoutButton) {
    logoutButton.addEventListener("click", logout);
  }

  document.addEventListener("DOMContentLoaded", function () {
    const token = localStorage.getItem("token"); // Get the token from local storage

    // Fetch top users data
    fetch("/api/v1/auth/teachers", {
      headers: {
        Authorization: `Bearer ${token}`,
      },
    })
      .then((response) => response.json())
      .then((topUsersData) => {
        const tableBody = document.querySelector(".table tbody");
        topUsersData.forEach((user, index) => {
          const tableRow = document.createElement("tr");
          tableRow.innerHTML = `
            <td class="text-center text-muted">${user.user_id}</td>
            <td>
              <div class="widget-content p-0">
                <div class="widget-content-wrapper">
                  <div class="widget-content-left flex2">
                    <div class="widget-heading">${user.firstname} ${user.lastname}</div>
                    <div class="widget-subheading opacity-7">${user.username}</div>
                  </div>
                </div>
              </div>
            </td>

            <td class="text-center">${user.phone_number}</td>`;

          tableBody.appendChild(tableRow);
        });
      })
      .catch((error) => console.error("Error fetching top users data:", error));

    fetch("/api/v1/auth/students", {
      headers: {
        Authorization: `Bearer ${token}`,
      },
    })
      .then((response) => response.json())
      .then((topUsersData) => {
        const tableBody = document.querySelector(".tablel");
        topUsersData.forEach((user, index) => {
          const tableRow = document.createElement("tr");
          tableRow.innerHTML = `
            <td class="text-center text-muted">${user.user_id}</td>
            <td>
              <div class="widget-content p-0">
                <div class="widget-content-wrapper">
                  <div class="widget-content-left flex2">
                    <div class="widget-heading">${user.firstname} ${user.lastname}</div>
                    <div class="widget-subheading opacity-7">${user.age} years old</div>
                  </div>
                </div>
              </div>
            </td>

            <td class="text-center">${user.registration}</td>
            <td class="text-center">${user.gender}</td>
            <td class="text-center">
              <div class="font-weight-bold" >${user.nationality} </div>
            </td>`;

          tableBody.appendChild(tableRow);
        });
      })
      .catch((error) => console.error("Error fetching top students :", error));


  });
</script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    // document.getElementById('output').innerHTML = location.search;
    // document.getElementByClassName("chosen-select").chosen();
    const form = document.getElementById("apiTeacherForm");
    const errorMessage = document.getElementById("errorMessage");
    const token = localStorage.getItem("token");
    apiTeacherForm.addEventListener("submit", async function (event) {
      event.preventDefault();

      const student = document.getElementById("firstname").value;
      const schoolclass = document.getElementById("lastname").value;
      const exam = document.getElementById("phone_number").value;
      const math = document.getElementById("gender").value;

      const itemBody = {
        firstname: student,
        lastname: schoolclass,
        phone_number: exam,
        gender: math,
      };

      const response = await fetch("/api/v1/auth/register_teacher", {
        method: "POST",
        headers: {
          "content-type": "application/json",
          Authorization: `Bearer ${token}`,
        },
        body: JSON.stringify(itemBody),
      });

      try {
        const responseData = await response.json();
        if (response.ok) {
          window.location.reload();
          window.location.href = window.location.href;
        } else {
          errorMessage.textContent = responseData.error;
        }
      } catch (error) {
        console.error("Error parsing response:");
      } finally {
        window.location.reload();
      }
    });
  });
</script>

{% endblock %}