{% extends "base.html" %} {% block title %}Admin Page{% endblock %} {% block
content %}

<div
  class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header"
>
  <div class="app-header header-shadow">
    <div class="app-header__logo ">
      <div class="" id=""></div>
      <div class="header__pane ml-auto"></div>
    </div>
    <div class="app-header__mobile-menu"></div>
    <div class="app-header__menu"></div>
    <div class="app-header__content ">
      <div class="app-header-right">
        <div class="header-btn-lg pr-0">
          <div class="widget-content p-0">
            <div class="widget-content-wrapper">
              <div class="widget-content-left ml-3 header-user-info">
                <div class="widget-heading">{{ session.username }}</div>
                <div class="widget-subheading">{{ session.role }}</div>
              </div>
              <div class="widget-content-right header-user-info ml-3">
                <button
                  type="button"
                  class="btn-shadow p-1 btn btn-primary btn-sm"
                  id="logoutButton"
                >
                  Logout
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui-theme-settings">
    <div class="theme-settings__inner">
      <div class="scrollbar-container">
        <div class="theme-settings__options-wrapper">
          <h3 class="themeoptions-heading">Layout Options</h3>
          <div class="p-3">
            <ul class="list-group">
              <li class="list-group-item">
                <div class="widget-content p-0">
                  <div class="widget-content-wrapper">
                    <div class="widget-content-left mr-3">
                      <div
                        class="switch has-switch switch-container-class"
                        data-class="fixed-header"
                      >
                        <div class="switch-animate switch-on">
                          <input
                            type="checkbox"
                            checked
                            data-toggle="toggle"
                            data-onstyle="success"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="widget-content-left">
                      <div class="widget-heading">Fixed Header</div>
                      <div class="widget-subheading">
                        Makes the header top fixed, always visible!
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="widget-content p-0">
                  <div class="widget-content-wrapper">
                    <div class="widget-content-left mr-3">
                      <div
                        class="switch has-switch switch-container-class"
                        data-class="fixed-sidebar"
                      >
                        <div class="switch-animate switch-on">
                          <input
                            type="checkbox"
                            checked
                            data-toggle="toggle"
                            data-onstyle="success"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="widget-content-left">
                      <div class="widget-heading">Fixed Sidebar</div>
                      <div class="widget-subheading">
                        Makes the sidebar left fixed, always visible!
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="widget-content p-0">
                  <div class="widget-content-wrapper">
                    <div class="widget-content-left mr-3">
                      <div
                        class="switch has-switch switch-container-class"
                        data-class="fixed-footer"
                      >
                        <div class="switch-animate switch-off">
                          <input
                            type="checkbox"
                            data-toggle="toggle"
                            data-onstyle="success"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="widget-content-left">
                      <div class="widget-heading">Fixed Footer</div>
                      <div class="widget-subheading">
                        Makes the app footer bottom fixed, always visible!
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="p-3">
            <ul class="list-group">
              <li class="list-group-item">
                <h5 class="pb-2">Page Section Tabs</h5>
                <div class="theme-settings-swatches">
                  <div role="group" class="mt-2 btn-group">
                    <button
                      type="button"
                      class="btn-wide btn-shadow btn-primary btn btn-secondary switch-theme-class"
                      data-class="body-tabs-line"
                    >
                      Line
                    </button>
                    <button
                      type="button"
                      class="btn-wide btn-shadow btn-primary active btn btn-secondary switch-theme-class"
                      data-class="body-tabs-shadow"
                    >
                      Shadow
                    </button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="app-main">
    <div class="app-main__outer">
      <div class="app-main__inner">
        <div class="row">
          <div class="col-md-6 col-xl-6">
            <a class="card mb-3 widget-content bg-happy-green nav-link" href="{{ url_for('web.questions') }}">
              <div class="widget-content-wrapper text-white">
                <div class="widget-content-left">
                  <div class="widget-heading">Total Questions</div>
                  <div class="widget-subheading">Questions submitted</div>
                </div>
                <div class="widget-content-right">
                  <div class="widget-numbers text-white">
                    <span id="totalQuestions"></span>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-6 col-xl-6">
            <a class="card mb-3 widget-content bg-happy-itmeo nav-link" href="{{ url_for('web.farmers') }}">
              <div class="widget-content-wrapper text-white">
                <div class="widget-content-left">
                  <div class="widget-heading">Users</div>
                  <div class="widget-subheading">Total number of Farmers</div>
                </div>
                <div class="widget-content-right">
                  <div class="widget-numbers text-white">
                    <span id="totalAppUsers"></span>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-xl-3">
            <div class="card mb-3 widget-content">
              <div class="widget-content-outer">
                <div class="widget-content-wrapper">
                  <div class="widget-content-left">
                    <div class="widget-heading">Weekly Questions</div>
                    <div class="widget-subheading">
                      Average Weekly Questions
                    </div>
                  </div>
                  <div class="widget-content-right">
                    <div
                      class="widget-numbers text-success"
                      id="averageWeeklyQuestions"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xl-3">
            <div class="card mb-3 widget-content">
              <div class="widget-content-outer">
                <div class="widget-content-wrapper">
                  <div class="widget-content-left">
                    <div class="widget-heading">User Questions</div>
                    <div class="widget-subheading">Average User Questions</div>
                  </div>
                  <div class="widget-content-right">
                    <div
                      class="widget-numbers text-warning"
                      id="averageUserQuestions"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xl-3">
            <div class="card mb-3 widget-content">
              <div class="widget-content-outer">
                <div class="widget-content-wrapper">
                  <div class="widget-content-left">
                    <div class="widget-heading">Male</div>
                    <div class="widget-subheading">Male Farmers</div>
                  </div>
                  <div class="widget-content-right">
                    <div
                      class="widget-numbers text-warning"
                      id="totalMales"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xl-3">
            <div class="card mb-3 widget-content">
              <div class="widget-content-outer">
                <div class="widget-content-wrapper">
                  <div class="widget-content-left">
                    <div class="widget-heading">Female</div>
                    <div class="widget-subheading">Female Farmers</div>
                  </div>
                  <div class="widget-content-right">
                    <div
                      class="widget-numbers text-danger"
                      id="totalFemales"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-xl-4">
            <div class="card mb-3 widget-content">
              <div class="widget-content-outer">
                <div class="widget-content-wrapper">
                  <div class="widget-content-left">
                    <div class="widget-heading">Average Questions</div>
                    <div class="widget-subheading">Average Daily Questions</div>
                  </div>
                  <div class="widget-content-right">
                    <div
                      class="widget-numbers text-success"
                      id="averageDailyQuestions"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xl-4">
            <div class="card mb-3 widget-content">
              <div class="widget-content-outer">
                <div class="widget-content-wrapper">
                  <div class="widget-content-left">
                    <div class="widget-heading">Luganda</div>
                    <div class="widget-subheading">Total Luganda Questions</div>
                  </div>
                  <div class="widget-content-right">
                    <div
                      class="widget-numbers text-warning"
                      id="lugandaQuestions"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xl-4">
            <div class="card mb-3 widget-content">
              <div class="widget-content-outer">
                <div class="widget-content-wrapper">
                  <div class="widget-content-left">
                    <div class="widget-heading">English</div>
                    <div class="widget-subheading">Total English Questions</div>
                  </div>
                  <div class="widget-content-right">
                    <div
                      class="widget-numbers text-danger"
                      id="englishQuestions"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-lg-6">
            <div class="mb-3 card">
              <div
                class="card-header-tab card-header-tab-animation card-header"
              >
                <div class="card-header-title">
                  <i
                    class="header-icon lnr-apartment icon-gradient bg-love-kiss"
                  >
                  </i>
                  Submission Report
                </div>
              </div>
              <div class="card-body">
                <div class="tab-content">
                  <div class="tab-pane fade show active" id="tabs-eg-77">
                    <h6
                      class="text-muted text-uppercase font-size-md opacity-5 font-weight-normal"
                    >
                      Farmers by location
                    </h6>
                    <div class="scroll-area-sm">
                      <div class="scrollbar-container">
                        <ul
                          class="rm-list-borders rm-locations list-group list-group-flush"
                        ></ul>
                      </div>
                    </div>
                    <h6
                      class="text-muted text-uppercase font-size-md opacity-5 font-weight-normal"
                    >
                      Farmer Age Groups
                    </h6>
                    <div class="scroll-area-sm">
                      <div class="scrollbar-container">
                        <ul
                          class="rm-list-borders rm-ages list-group list-group-flush"
                        ></ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-6">
            <div class="mb-3 card">
              <div class="card-header-tab card-header">
                <div class="card-header-title">
                  <i
                    class="header-icon lnr-rocket icon-gradient bg-tempting-azure"
                  >
                  </i>
                  Languages
                </div>
                <div class="btn-actions-pane-right">
                  <div class="nav"></div>
                </div>
              </div>
              <div class="tab-content">
                <div class="tab-pane fade active show" id="tab-eg-55">
                  <div class="widget-chart p-3">
                    <div style="height: 350px">
                      <canvas id="line-chart"></canvas>
                    </div>
                    <div class="widget-chart-content text-center mt-5">
                      <div class="widget-description mt-0 text-warning">
                        <i class="fa fa-arrow-left"></i>
                        <span class="text-muted opacity-8 pl-1"
                          >Red for Luganda Blue for English</span
                        >
                      </div>
                    </div>
                  </div>
                  <div class="pt-2 card-body">
                    <div class="row">
                      <div class="col">
                        <a class="card mb-3 widget-content bg bg-tempting-azure nav-link" href="{{ url_for('web.experts') }}">
                          <div class="widget-content-outer">
                            <div class="widget-content-wrapper">
                              <div class="widget-content-left">
                                <div class="widget-heading">Experts</div>
                                <div class="widget-subheading">Current Agriculture Experts</div>
                              </div>
                              <div class="widget-content-right">
                                <div
                                  class="widget-numbers text-white"
                                  id="totalExperts"
                                >2</div>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="main-card mb-3 ">
              <div class="card-header">Top Farmers</div>
              <div class="table-responsive">
                <table
                  class="align-middle mb-0 table table-borderless table-striped table-hover"
                >
                  <thead>
                    <tr>
                      <th class="text-center">#</th>
                      <th>Name</th>
                      <th class="text-center">Phone</th>
                      <th class="text-center">Location</th>
                      <th class="text-center">Total Questions</th>
                    </tr>
                  </thead>
                  <tbody class="bg-heavy-rain"></tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="app-wrapper-footer">
        <div class="app-footer">
          <div class="app-footer__inner">
            <div class="app-footer-left">
              <ul class="nav">
                <li class="nav-item">
                  <a href="https://air.ug" class="nav-link"> air.ug </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script></script>

<script>
  // Retrieve the token value passed from the Flask template
  const token = "{{ token }}";
  const user = "{{ user }}";
  const role = "{{ role }}";

  // Check if the token is not empty and store it in local storage
  if (token) {
    localStorage.setItem("token", token);
  }
  if (user) {
    localStorage.setItem("user", user);
  }
  if (role) {
    localStorage.setItem("role", role);
  }
  function logout() {
    // Clear the user token from localStorage
    localStorage.clear();

    // Redirect to the index.html page
    window.location.href = "/"; // Redirect to the index page
  }

  // Attach the logout function to the logout button/link
  const logoutButton = document.getElementById("logoutButton");
  if (logoutButton) {
    logoutButton.addEventListener("click", logout);
  }

  document.addEventListener("DOMContentLoaded", function () {
    const token = localStorage.getItem("token"); // Get the token from local storage

    // Fetch top users data
    fetch("/api/v1/questions/top_users", {
      headers: {
        Authorization: `Bearer ${token}`,
      },
    })
      .then((response) => response.json())
      .then((topUsersData) => {
        const tableBody = document.querySelector(".table tbody");
        topUsersData.forEach((user, index) => {
          const tableRow = document.createElement("tr");
          tableRow.innerHTML = `
            <td class="text-center text-muted">${user.user_id}</td>
            <td>
              <div class="widget-content p-0">
                <div class="widget-content-wrapper">
                  <div class="widget-content-left flex2">
                    <div class="widget-heading">${user.firstname} ${user.lastname}</div>
                    <div class="widget-subheading opacity-7">${user.username}</div>
                  </div>
                </div>
              </div>
            </td>

            <td class="text-center">${user.phone_number}</td>
            <td class="text-center">${user.location}</td>
            <td class="text-center">
              <div class="font-weight-bold" >${user.total_questions} </div>
            </td>`;

          tableBody.appendChild(tableRow);
        });
      })
      .catch((error) => console.error("Error fetching top users data:", error));

    fetch("/api/v1/questions/stats", {
      headers: {
        Authorization: `Bearer ${token}`,
      },
    })
      .then((response) => response.json())
      .then((statsData) => {
        const totalQuestions = document.getElementById("totalQuestions");
        totalQuestions.textContent = statsData.total_questions;

        // Display other statistics data
        const averageDailyQuestions = document.getElementById(
          "averageDailyQuestions"
        );
        averageDailyQuestions.textContent = statsData.average_daily_questions;

        const averageWeeklyQuestions = document.getElementById(
          "averageWeeklyQuestions"
        );
        averageWeeklyQuestions.textContent = statsData.average_weekly_questions;

        const averageUserQuestions = document.getElementById(
          "averageUserQuestions"
        );
        averageUserQuestions.textContent = statsData.average_questions_per_user;

        const languageCounts = {};

        for (const languageData of statsData.questions_per_language) {
          languageCounts[languageData.language] = languageData.count;
        }

        const lugandaCount = languageCounts["Luganda"] || 0;
        const englishCount = languageCounts["English"] || 0;

        const lugandaQuestions = document.getElementById("lugandaQuestions");
        lugandaQuestions.textContent = lugandaCount;

        const englishQuestions = document.getElementById("englishQuestions");
        englishQuestions.textContent = englishCount;
      })
      .catch((error) =>
        console.error("Error fetching statistics data:", error)
      );

    // user stats
    fetch("/api/v1/auth/user_stats", {
      headers: {
        Authorization: `Bearer ${token}`,
      },
    })
      .then((response) => response.json())
      .then((userData) => {
        const totalAppUsers = document.getElementById("totalAppUsers");
        totalAppUsers.textContent = userData.data.total_users;
        const totalMales = document.getElementById("totalMales");
        totalMales.textContent = userData.data.total_male_users;

        const totalExperts = document.getElementById("totalExperts");
        totalExperts.textContent = userData.data.experts;

        const farmerages = document.querySelector(".rm-ages");
        userData.data.users_per_age_group.forEach((ageGroup) => {
          const listItem = document.createElement("li");
          listItem.className = "list-group-item";
          listItem.innerHTML = `
                    <div class="widget-content p-0">
                        <div class="widget-content-wrapper">
                            <div class="widget-content-left">
                                <div class="widget-heading">${ageGroup.age_group}</div>
                            </div>
                            <div class="widget-content-right">
                                <div class="font-size-xlg text-muted">
                                    <span>${ageGroup.user_count}</span>
                                    <small class="text-danger pl-2"><i class="fa fa-angle-down"></i></small>
                                </div>
                            </div>
                        </div>
                    </div>`;
          farmerages.appendChild(listItem);
        });

        const farmerLocations = document.querySelector(".rm-locations");
        userData.data.users_per_location.forEach((location) => {
          if (location.location === "Makerere") {
            // Skip this iteration and do not display the age group
            return;
          }
          const listItem = document.createElement("li");
          listItem.className = "list-group-item";
          listItem.innerHTML = `
                    <div class="widget-content p-0">
                        <div class="widget-content-wrapper">
                            <div class="widget-content-left">
                                <div class="widget-heading">${location.location}</div>
                            </div>
                            <div class="widget-content-right">
                                <div class="font-size-xlg text-muted">
                                    <span>${location.user_count}</span>
                                    <small class="text-danger pl-2"><i class="fa fa-angle-down"></i></small>
                                </div>
                            </div>
                        </div>
                    </div>`;
          farmerLocations.appendChild(listItem);
        });

        const totalFemales = document.getElementById("totalFemales");
        totalFemales.textContent = userData.data.total_female_users;

        console.log(userData.data.users_per_age_group);
        const totalLocations = document.getElementById("totalLocations");
        totalLocations.textContent = userData.data.total_locations;
      })
      .catch((error) =>
        console.error("Error fetching user statistics data:", error)
      );
  });
</script>

{% endblock %}
