{% extends "base.html" %} {% block title %}Answer Questions Page{% endblock %}
{% block content %}

<div
  class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header"
>
  <div class="app-header header-shadow">
    <div class="app-header__logo">
      <div class="" id=""></div>
      <div class="header__pane ml-auto"></div>
    </div>
    <div class="app-header__mobile-menu"></div>
    <div class="app-header__menu"></div>
    <div class="app-header__content">
      <div class="app-header-right">
        <div class="header-btn-lg pr-0">
          <div class="widget-content p-0">
            <div class="widget-content-wrapper">
              <div class="widget-content-left ml-3 header-user-info">
                <div class="widget-heading">
                  {% if session.username %} {{ session.username }} {% else %}
                  <script>
                    var usernameFromLocalStorage =
                      localStorage.getItem("username");
                    document.write(usernameFromLocalStorage);
                  </script>
                  {% endif %}
                </div>
                <div class="widget-subheading">
                  {% if session.role %} {{ session.role }} {% else %}
                  <script>
                    var roleFromLocalStorage = localStorage.getItem("role");
                    document.write(roleFromLocalStorage);
                  </script>
                  {% endif %}
                </div>
              </div>
              <div class="widget-content-right header-user-info ml-3">
                <button
                  type="button"
                  class="btn-shadow p-1 btn btn-primary btn-sm"
                  id="logoutButton"
                >
                  Logout
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui-theme-settings">
    <div class="theme-settings__inner">
      <div class="scrollbar-container">
        <div class="theme-settings__options-wrapper">
          <h3 class="themeoptions-heading">Layout Options</h3>
          <div class="p-3">
            <ul class="list-group">
              <li class="list-group-item">
                <div class="widget-content p-0">
                  <div class="widget-content-wrapper">
                    <div class="widget-content-left mr-3">
                      <div
                        class="switch has-switch switch-container-class"
                        data-class="fixed-header"
                      >
                        <div class="switch-animate switch-on">
                          <input
                            type="checkbox"
                            checked
                            data-toggle="toggle"
                            data-onstyle="success"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="widget-content-left">
                      <div class="widget-heading">Fixed Header</div>
                      <div class="widget-subheading">
                        Makes the header top fixed, always visible!
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="widget-content p-0">
                  <div class="widget-content-wrapper">
                    <div class="widget-content-left mr-3">
                      <div
                        class="switch has-switch switch-container-class"
                        data-class="fixed-sidebar"
                      >
                        <div class="switch-animate switch-on">
                          <input
                            type="checkbox"
                            checked
                            data-toggle="toggle"
                            data-onstyle="success"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="widget-content-left">
                      <div class="widget-heading">Fixed Sidebar</div>
                      <div class="widget-subheading">
                        Makes the sidebar left fixed, always visible!
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="widget-content p-0">
                  <div class="widget-content-wrapper">
                    <div class="widget-content-left mr-3">
                      <div
                        class="switch has-switch switch-container-class"
                        data-class="fixed-footer"
                      >
                        <div class="switch-animate switch-off">
                          <input
                            type="checkbox"
                            data-toggle="toggle"
                            data-onstyle="success"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="widget-content-left">
                      <div class="widget-heading">Fixed Footer</div>
                      <div class="widget-subheading">
                        Makes the app footer bottom fixed, always visible!
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="p-3">
            <ul class="list-group">
              <li class="list-group-item">
                <h5 class="pb-2">Page Section Tabs</h5>
                <div class="theme-settings-swatches">
                  <div role="group" class="mt-2 btn-group">
                    <button
                      type="button"
                      class="btn-wide btn-shadow btn-primary btn btn-secondary switch-theme-class"
                      data-class="body-tabs-line"
                    >
                      Line
                    </button>
                    <button
                      type="button"
                      class="btn-wide btn-shadow btn-primary active btn btn-secondary switch-theme-class"
                      data-class="body-tabs-shadow"
                    >
                      Shadow
                    </button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="app-main">
    <div class="app-main__outer">
      <div class="app-main__inner">
        <div class="row">
          <div class="col-md-9">
            <ul class="nav nav-pills nav-fill justify-content-around">
              <li class="nav-item">
                <a
                  class="nav-link text-success"
                  href="{{ url_for('web.expert_dashoard') }}"
                  >Review Questions</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link active"
                  href="{{ url_for('web.answer_questions') }}"
                  >Answer Questions</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link text-success"
                  href="{{ url_for('web.rank_answers') }}"
                  >Rank Answers</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="main-card mb-3 card pt-3 pb-5">
              <div class="card px-4 col-9 mx-auto my-3">
                <form id="answerForm">
                  <div
                    class="card mb-3 ml-3 col-11 text-left font-weight-bold text-dark mx-4 my-4"
                  >
                    <span class="text-center text-primary h3 font-weight-bold"
                      >Instructions:</span
                    >

                    <span
                      >Provide an answer to this question in the input field
                      below, or you can choose to skip this question.</span
                    >
                  </div>
                  <table>
                    <tbody>
                      <tr>
                        <th class="text-primary pr-3">Language:</th>
                        <td id="questionLanguage" class="font-weight-bold"></td>
                      </tr>
                      <tr>
                        <th class="text-primary pr-3">Topic:</th>
                        <td id="questionTopic" class="font-weight-bold"></td>
                      </tr>
                      <tr>
                        <th class="text-primary pr-3">Question:</th>
                        <td id="oneQuestion" class="font-weight-bold"></td>
                      </tr>
                    </tbody>
                  </table>
                  <input
                    type="text"
                    name="answer"
                    id="answer"
                    placeholder="Add answer"
                    class="form-control my-3"
                  />
                  <div class="d-flex justify-content-between">
                    <button
                      name="next"
                      class="btn btn-warning my-3"
                      onclick="reloadPage()"
                    >
                      Skip
                    </button>
                    <button
                      name="next"
                      class="btn btn-primary my-3"
                      type="submit"
                    >
                      Submit
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="app-wrapper-footer">
        <div class="app-footer">
          <div class="app-footer__inner">
            <div class="app-footer-left">
              <ul class="nav">
                <li class="nav-item">
                  <a href="https://air.ug" class="nav-link"> air.ug </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function logout() {
    // Clear the user token from localStorage
    localStorage.clear();

    // Redirect to the index.html page
    window.location.href = "/"; // Redirect to the index page
  }

  function reload() {
    window.location.reload();
  }

  // Attach the logout function to the logout button/link
  const logoutButton = document.getElementById("logoutButton");
  if (logoutButton) {
    logoutButton.addEventListener("click", logout);
  }

  function showFormWithQuestionId(questionId) {
    // Display the form and set the question ID as a data attribute
    var form = document.getElementById("answerForm");
    form.style.display = "block";
    form.setAttribute("data-question-id", questionId);
  }

  document
    .addEventListener("DOMContentLoaded", function () {
      const token = localStorage.getItem("token"); // Get the token from local storage

      // Fetch top users data
      fetch("/api/v1/questions/random_question_answer", {
        headers: {
          Authorization: `Bearer ${token}`,
        },
      })
        .then((response) => response.json())
        .then((randomQuestion) => {
          const oneQuestion = document.getElementById("oneQuestion");
          oneQuestion.textContent = randomQuestion.sentence?randomQuestion.sentence:"--No Questions.--";
          const questionLanguage = document.getElementById("questionLanguage");
          questionLanguage.textContent = randomQuestion.language;
          const questionTopic = document.getElementById("questionTopic");
          questionTopic.textContent = randomQuestion.topic
            ? randomQuestion.topic
            : "No Topic";
          var questionId = randomQuestion.id;
          showFormWithQuestionId(questionId);
          console.log(questionId);
        });
    })
    .catch((error) => console.error("Error fetching question:"));
</script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const form = document.getElementById("answerForm");
    const errorMessage = document.getElementById("errorMessage");
    const token = localStorage.getItem("token");

    answerForm.addEventListener("submit", async function (event) {
      event.preventDefault();
      var questionIdButton = this.getAttribute("data-question-id");
      let questionId = parseInt(questionIdButton);
      let answer = document.getElementById("answer").value;
      const itemBody = {
        answer: answer,
      };
      console.log(answer);
      const response = await fetch(
        `/api/v1/questions/add_answer/${questionId}`,
        {
          method: "POST",
          headers: {
            "content-type": "application/json",
            Authorization: `Bearer ${token}`,
          },
          body: JSON.stringify(itemBody),
        }
      );

      try {
        const responseData = await response.json();
        if (response.ok) {
          window.location.reload();
          window.location.href = window.location.href;
        } else {
          errorMessage.textContent = responseData.error;
        }
      } catch (error) {
        console.error("Error parsing response:");
      } finally {
        window.location.reload();
      }
    });
  });
</script>
{% endblock %}
