{% extends "base.html" %} {% block title %}English Page{% endblock %} {% block
content %}

<div
  class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header"
>
  <div class="app-header header-shadow">
    <div class="app-header__logo">
      <div class="" id=""></div>
      <div class="header__pane ml-auto"></div>
    </div>
    <div class="app-header__mobile-menu"></div>
    <div class="app-header__menu"></div>
    <div class="app-header__content">
      <div class="app-header-right">
        <div class="header-btn-lg pr-0">
          <div class="widget-content p-0">
            <div class="widget-content-wrapper">
              <div class="widget-content-left ml-3 header-user-info">
                <div class="widget-heading" id="user-info"></div>
                <div class="widget-subheading">Expert</div>
              </div>
              <div class="widget-content-right header-user-info ml-3">
                <button
                  type="button"
                  class="btn-shadow p-1 btn btn-primary btn-sm"
                  id="logoutButton"
                >
                  Logout
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui-theme-settings">
    <div class="theme-settings__inner">
      <div class="scrollbar-container">
        <div class="theme-settings__options-wrapper">
          <h3 class="themeoptions-heading">Layout Options</h3>
          <div class="p-3">
            <ul class="list-group">
              <li class="list-group-item">
                <div class="widget-content p-0">
                  <div class="widget-content-wrapper">
                    <div class="widget-content-left mr-3">
                      <div
                        class="switch has-switch switch-container-class"
                        data-class="fixed-header"
                      >
                        <div class="switch-animate switch-on">
                          <input
                            type="checkbox"
                            checked
                            data-toggle="toggle"
                            data-onstyle="success"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="widget-content-left">
                      <div class="widget-heading">Fixed Header</div>
                      <div class="widget-subheading">
                        Makes the header top fixed, always visible!
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="widget-content p-0">
                  <div class="widget-content-wrapper">
                    <div class="widget-content-left mr-3">
                      <div
                        class="switch has-switch switch-container-class"
                        data-class="fixed-sidebar"
                      >
                        <div class="switch-animate switch-on">
                          <input
                            type="checkbox"
                            checked
                            data-toggle="toggle"
                            data-onstyle="success"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="widget-content-left">
                      <div class="widget-heading">Fixed Sidebar</div>
                      <div class="widget-subheading">
                        Makes the sidebar left fixed, always visible!
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="widget-content p-0">
                  <div class="widget-content-wrapper">
                    <div class="widget-content-left mr-3">
                      <div
                        class="switch has-switch switch-container-class"
                        data-class="fixed-footer"
                      >
                        <div class="switch-animate switch-off">
                          <input
                            type="checkbox"
                            data-toggle="toggle"
                            data-onstyle="success"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="widget-content-left">
                      <div class="widget-heading">Fixed Footer</div>
                      <div class="widget-subheading">
                        Makes the app footer bottom fixed, always visible!
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="p-3">
            <ul class="list-group">
              <li class="list-group-item">
                <h5 class="pb-2">Page Section Tabs</h5>
                <div class="theme-settings-swatches">
                  <div role="group" class="mt-2 btn-group">
                    <button
                      type="button"
                      class="btn-wide btn-shadow btn-primary btn btn-secondary switch-theme-class"
                      data-class="body-tabs-line"
                    >
                      Line
                    </button>
                    <button
                      type="button"
                      class="btn-wide btn-shadow btn-primary active btn btn-secondary switch-theme-class"
                      data-class="body-tabs-shadow"
                    >
                      Shadow
                    </button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="app-main">
    <div class="app-main__outer">
      <div class="app-main__inner">
        <div class="row">
          <div class="col-md hait border border-dark bg-white mx-5 rounded py-5">
            <h1 class="text-center p-3 font-weight-bold">Welcome to the Expert Portal</h1>
            <h3 class="text-center font-weight-bold text-primary my-5">Please choose your area of expertise:</h3>

            <div class="btn-group d-flex justify-content-center pt-5 customPadding mb-5" role="group" aria-label="Expert Selection">
              
              <a href="{{ url_for('web.crop_expert') }}" class="btn btn-success btn-lg mx-5 py-3 font-weight-bold " id="cropExpertBtn"
                >Crop Expert</a
              >
              <a href="{{ url_for('web.animal_expert') }}" class="btn btn-primary btn-lg mx-5 py-3 font-weight-bold" id="animalExpertBtn"
                >Animal Expert</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="app-wrapper-footer">
        <div class="app-footer">
          <div class="app-footer__inner">
            <div class="app-footer-left">
              <ul class="nav">
                <li class="nav-item">
                  <a href="https://air.ug" class="nav-link"> air.ug </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script></script>

<script>
  const token = "{{ token }}";
  const user = "{{ user }}";
  const role = "{{ role }}";

  if (token) {
    localStorage.setItem("token", token);
  }
  if (user) {
    localStorage.setItem("user", user);
  }
  if (role) {
    localStorage.setItem("role", role);
  }

  const userElement = document.getElementById("user-info");
  var currentTab = 0;

  // Retrieve data from local storage
  const storedUser = localStorage.getItem("user");

  if (storedUser) {
    userElement.textContent = storedUser;
  } else {
    userElement.textContent = Expert;
  }
  function logout() {
    // Clear the user token from localStorage
    localStorage.clear();

    // Redirect to the index.html page
    window.location.href = "/"; // Redirect to the index page
  }

  // Attach the logout function to the logout button/link
  const logoutButton = document.getElementById("logoutButton");
  if (logoutButton) {
    logoutButton.addEventListener("click", logout);
  }

  document.addEventListener("DOMContentLoaded", function () {
    const token = localStorage.getItem("token"); // Get the token from local storage
  });
</script>
{% endblock %}
