{% extends "base.html" %} {% block title %}{%
endblock %} {% block content %}

<div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
  <div class="app-header header-shadow">
    <div class="app-header__logo">
      <div class="" id=""></div>
      <div class="header__pane ml-auto"></div>
    </div>
    <div class="app-header__mobile-menu"></div>
    <div class="app-header__menu"></div>
    <div class="app-header__content">
    </div>
  </div>
  <div class="ui-theme-settings">
    <div class="theme-settings__inner">
      <div class="scrollbar-container">
        <div class="theme-settings__options-wrapper">
          <h3 class="themeoptions-heading">Layout Options</h3>
          <div class="p-3">
            <ul class="list-group">
              <li class="list-group-item">
                <div class="widget-content p-0">
                  <div class="widget-content-wrapper">
                    <div class="widget-content-left mr-3">
                      <div class="switch has-switch switch-container-class" data-class="fixed-header">
                        <div class="switch-animate switch-on">
                          <input type="checkbox" checked data-toggle="toggle" data-onstyle="success" />
                        </div>
                      </div>
                    </div>
                    <div class="widget-content-left">
                      <div class="widget-heading">Fixed Header</div>
                      <div class="widget-subheading">
                        Makes the header top fixed, always visible!
                      </div>
                    </div>
                  </div>
                </div>
              </li>

              <li class="list-group-item">
                <div class="widget-content p-0">
                  <div class="widget-content-wrapper">
                    <div class="widget-content-left mr-3">
                      <div class="switch has-switch switch-container-class" data-class="fixed-footer">
                        <div class="switch-animate switch-off">
                          <input type="checkbox" data-toggle="toggle" data-onstyle="success" />
                        </div>
                      </div>
                    </div>
                    <div class="widget-content-left">
                      <div class="widget-heading">Fixed Footer</div>
                      <div class="widget-subheading">
                        Makes the app footer bottom fixed, always visible!
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="p-3">
            <ul class="list-group">
              <li class="list-group-item">
                <h5 class="pb-2">Page Section Tabs</h5>
                <div class="theme-settings-swatches">
                  <div role="group" class="mt-2 btn-group">
                    <button type="button" class="btn-wide btn-shadow btn-primary btn btn-secondary switch-theme-class"
                      data-class="body-tabs-line">
                      Line
                    </button>
                    <button type="button"
                      class="btn-wide btn-shadow btn-primary active btn btn-secondary switch-theme-class"
                      data-class="body-tabs-shadow">
                      Shadow
                    </button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="app-main text-responsive">
    <div class="app-main__outer">
      <div class="app-main__inner bg-white">
        <div id="report">
          <div class="row bg-white">

            <div class="lydia">
              <div class="h5 font-weight-bold">ST. KIZITO PRIMARY SCHOOL BUGOLOBI</div>
              <div class="text-primary"><u>www.ourladyofafrica.org</u></div>
              <div>stkizitops55@gmail.com</div>
              <div>0773391806/0701211566</div>
              <div>P.O. BOX 6562 KAMPALA</div>
              <div class="h6 font-weight-bold pb-3">UPPER PRIMARY SECTION SCHOOL REPORT</div><strong></strong>

            </div>
          </div>
          <div class="row bg-white border py-2">
            <div class="col">
              <div class="form-group">
                <div><strong>PUPIL'S NAME:</strong> <span id="studenta"></span></div>
                <div><strong>NATIONALITY:</strong> <span id="nationalitya"></span></div>
                <div><strong>ENROLMENT:</strong> 109 Pupils</div>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <div><strong>SEX:</strong> <span id="gendera"></span></div>
                <div><strong>REG.NO:</strong>&nbsp;&nbsp;&nbsp;<span id="registrationa"></span></div>
                <div><strong>TERM ONE 2024</strong></div>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <div><strong>AGE: </strong><span id="agea"></span> Years old</div>
                <div><strong>CLASS: </strong> PRIMARY SIX</div>
                <div><strong>HOUSE: </strong> <span id="housea"></span></div>
              </div>
            </div>
          </div>

          <table class="">
            <thead>
              <tr>
                <td colspan="9" class="text-center h5">END OF TERM RESULTS</td>
              </tr>
              <tr class="font-weight-bold">
                <td>SUBJECT </td>
                <td>B.O.T </td>
                <td> M.O.T </td>
                <td> E.O.T</td>
                <td>SUM </td>
                <td>AVERAGE</td>
                <td>GRADE</td>
                <td>REMARKS</td>
                <td>INITIALS</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-left pl-2">ENGLISH LANGUAGE </td>
                <td id="engbot"></td>
                <td id="mideng"></td>
                <td id="endeng"></td>
                <td id="sumeng"></td>
                <td id="avgeng"></td>
                <td id="gradeeng"></td>
                <td id="remarkeng"></td>
                <td>K.R</td>
              </tr>
              <tr>
                <td class="text-left pl-2">MATHEMATICS </td>
                <td id="mathbot"></td>
                <td id="midmath"></td>
                <td id="endmath"></td>
                <td id="summath"></td>
                <td id="avgmath"></td>
                <td id="grademath"></td>
                <td id="remarkmath"></td>
                <td>M.T</td>
              </tr>
              <tr>
                <td class="text-left pl-2">INTEGRATED SCIENCE </td>
                <td id="sciencebot"></td>
                <td id="midscience"></td>
                <td id="endscience"></td>
                <td id="sumscience"></td>
                <td id="avgscience"></td>
                <td id="gradescience"></td>
                <td id="remarkscience"></td>
                <td>M.L</td>
              </tr>
              <tr>
                <td class="text-left pl-2">SOCIAL STUDIES</td>
                <td id="social_studiesbot"></td>
                <td id="midsocial_studies"></td>
                <td id="endsocial_studies"></td>
                <td id="sumsocial_studies"></td>
                <td id="avgsocial_studies"></td>
                <td id="gradesocial_studies"></td>
                <td id="remarksocial_studies"></td>
                <td>N.F</td>
              </tr>
            </tbody>
            <tfoot>
              <tr class="font-weight-bold">
                <td class="footer">Total</td>
                <td id="btotale"></td>
                <td id="midtotale"> </td>
                <td id="etotale"></td>
                <td id="sumtotale"></td>
                <td>Avg &nbsp;&nbsp;&nbsp;<span id="avgetotale"></span></td>
                <td colspan="3" class="text-left"> <span id="aggre" class="ml-3"></span> Aggregates
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Division <span id="diviso"></span> </td>
              </tr>

          </table>
          <div class="row h6 mt-2 pt-3 pb-3">
            <div class="col"><strong>This term ends on:</strong> <span class="text-danger">Friday, 28 April 2024</span>
            </div>
            <div class="col"><strong>Next term begins on:</strong> <span class="text-success">Monday 27th May
                2024</span></div>
          </div>
          <div class="container-fluid  border border-dark bg-white pt-3 pb-3">
            <div><strong>CLASS TEACHER: &nbsp;&nbsp;&nbsp;</strong><span
                id="teachername"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;<strong> Signature:</strong>
              ..............................................................................................................
            </div>
            <div><strong>Report: </strong>You need to aim higher than this.</div>
            <div><strong>HEADTEACHER: SR. ROSALIA JOHN</strong></div>
            <div><strong>Comment:</strong> This is a promising performance, more concetration is needed in all.</div>
          </div>
          <div class="container-fluid">
            <div><strong>B.O.T</strong> Beginning of term results</div>
            <div><strong>M.O.T</strong> Mid of term results</div>
            <div><strong>E.O.T</strong> End of term results</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="app-wrapper-footer">
  <div class="app-footer">
    <div class="app-footer__inner">
      <div class="app-footer-left">

      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
<script type="text/javascript" src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>
  function saveDiv() {
    let mywindow = window.open('', 'PRINT', 'height=650,width=900,top=100,left=150');

    mywindow.document.write(document.getElementById("report").innerHTML);


    mywindow.document.close(); // necessary for IE >= 10
    mywindow.focus(); // necessary for IE >= 10*/

    mywindow.print();
    mywindow.close();

    return true;

  }

  function getValueFromLocalStorage(key, defaultValue) {
    const storedValue = localStorage.getItem(key);
    return storedValue ? storedValue : defaultValue;
  }

  // Retrieve values from localStorage or use default values
  const token = getValueFromLocalStorage("token", "{{ token }}");
  const user = getValueFromLocalStorage("user", "{{ user }}");
  const role = getValueFromLocalStorage("role", "{{ role }}");


  // Update localStorage with the current values
  localStorage.setItem("token", token);
  localStorage.setItem("user", user);
  localStorage.setItem("role", role);

  const userElement = document.getElementById("user-info");
  const teachername = document.getElementById("teachername");
  var currentTab = 0;

  const storedUser = localStorage.getItem("user");
  teachername.textContent = storedUser.toUpperCase()

  // if (storedUser) {
  //   userElement.textContent = storedUser;
  // } else {
  //   userElement.textContent = Expert;
  // }

  if (storedUser === null || storedUser === "None" || storedUser === "" || typeof storedUser === "undefined") {
    logout();
  }
  function logout() {
    localStorage.clear();

    window.location.href = "/";
  }

  function reload() {
    window.location.reload();
  }

  // Attach the logout function to the logout button/link
  const logoutButton = document.getElementById("logoutButton");
  if (logoutButton) {
    logoutButton.addEventListener("click", logout);
  }

  document.addEventListener("DOMContentLoaded", function () {
    const token = localStorage.getItem("token"); // Get the token from local storage

    const urlParams = new URLSearchParams(window.location.search);
    const user_id = urlParams.get("user_id");
    let wamo = localStorage.getItem("idd")

    fetch(`/api/v1/auth/generate_report/${wamo}`, {
      headers: {
        Authorization: `Bearer ${token}`,
      },
    })
      .then((response) => response.json())
      .then((userData) => {
        console.log(userData)
        const agea = document.getElementById("agea");
        agea.textContent = userData.age;
        const housea = document.getElementById("housea");
        housea.textContent = userData.house;
        const studenta = document.getElementById("studenta");
        studenta.textContent = userData.student_name;
        const nationalitya = document.getElementById("nationalitya");
        nationalitya.textContent = userData.nationality;
        const gendera = document.getElementById("gendera");
        gendera.textContent = userData.gender;
        const registrationa = document.getElementById("registrationa");
        registrationa.textContent = userData.registration;
        const englishMarksBeginning = userData.exam_results.english.exams.find(exam => exam.exam_type === "Beginning")?.english_marks;
        const englishMarksMid = userData.exam_results.english.exams.find(exam => exam.exam_type === "Mid")?.english_marks;
        const englishMarksEnd = userData.exam_results.english.exams.find(exam => exam.exam_type === "End")?.english_marks;
        const mathMarksBeginning = userData.exam_results.math.exams.find(exam => exam.exam_type === "Beginning")?.math_marks;
        const mathMarksMid = userData.exam_results.math.exams.find(exam => exam.exam_type === "Mid")?.math_marks;
        const mathMarksEnd = userData.exam_results.math.exams.find(exam => exam.exam_type === "End")?.math_marks;
        const scienceMarksBeginning = userData.exam_results.science.exams.find(exam => exam.exam_type === "Beginning")?.science_marks;
        const scienceMarksMid = userData.exam_results.science.exams.find(exam => exam.exam_type === "Mid")?.science_marks;
        const scienceMarksEnd = userData.exam_results.science.exams.find(exam => exam.exam_type === "End")?.science_marks;
        const social_studiesMarksBeginning = userData.exam_results.social_studies.exams.find(exam => exam.exam_type === "Beginning")?.social_studies_marks;
        const social_studiesMarksMid = userData.exam_results.social_studies.exams.find(exam => exam.exam_type === "Mid")?.social_studies_marks;
        const social_studiesMarksEnd = userData.exam_results.social_studies.exams.find(exam => exam.exam_type === "End")?.social_studies_marks;
        const totalMarksBeginning = userData.exam_results.english.exams.find(exam => exam.exam_type === "Beginning")?.total_marks;
        const totalMarksMid = userData.exam_results.english.exams.find(exam => exam.exam_type === "Mid")?.total_marks;
        const totalMarksEnd = userData.exam_results.english.exams.find(exam => exam.exam_type === "End")?.total_marks;
        const engbot = document.getElementById("engbot");
        engbot.textContent = englishMarksBeginning;
        const mideng = document.getElementById("mideng");
        mideng.textContent = englishMarksMid;
        const endeng = document.getElementById("endeng");
        endeng.textContent = englishMarksEnd;
        const sumeng = document.getElementById("sumeng");
        sumeng.textContent = userData.exam_results.english.total;
        const avgeng = document.getElementById("avgeng");
        avgeng.textContent = userData.exam_results.english.average;
        const gradeeng = document.getElementById("gradeeng");
        gradeeng.textContent = userData.exam_results.english.grade;
        const remarkeng = document.getElementById("remarkeng");
        remarkeng.textContent = userData.exam_results.english.remark;
        const mathbot = document.getElementById("mathbot");
        mathbot.textContent = mathMarksBeginning;
        const midmath = document.getElementById("midmath");
        midmath.textContent = mathMarksMid;
        const endmath = document.getElementById("endmath");
        endmath.textContent = mathMarksEnd;
        const summath = document.getElementById("summath");
        summath.textContent = userData.exam_results.math.total;
        const avgmath = document.getElementById("avgmath");
        avgmath.textContent = userData.exam_results.math.average;
        const grademath = document.getElementById("grademath");
        grademath.textContent = userData.exam_results.math.grade;
        const remarkmath = document.getElementById("remarkmath");
        remarkmath.textContent = userData.exam_results.math.remark;
        const sciencebot = document.getElementById("sciencebot");
        sciencebot.textContent = scienceMarksBeginning;
        const midscience = document.getElementById("midscience");
        midscience.textContent = scienceMarksMid;
        const endscience = document.getElementById("endscience");
        endscience.textContent = scienceMarksEnd;
        const sumscience = document.getElementById("sumscience");
        sumscience.textContent = userData.exam_results.science.total;
        const avgscience = document.getElementById("avgscience");
        avgscience.textContent = userData.exam_results.science.average;
        const gradescience = document.getElementById("gradescience");
        gradescience.textContent = userData.exam_results.science.grade;
        const remarkscience = document.getElementById("remarkscience");
        remarkscience.textContent = userData.exam_results.science.remark;
        const social_studiesbot = document.getElementById("social_studiesbot");
        social_studiesbot.textContent = social_studiesMarksBeginning;
        const midsocial_studies = document.getElementById("midsocial_studies");
        midsocial_studies.textContent = social_studiesMarksMid;
        const endsocial_studies = document.getElementById("endsocial_studies");
        endsocial_studies.textContent = social_studiesMarksEnd;
        const sumsocial_studies = document.getElementById("sumsocial_studies");
        sumsocial_studies.textContent = userData.exam_results.social_studies.total;
        const avgsocial_studies = document.getElementById("avgsocial_studies");
        avgsocial_studies.textContent = userData.exam_results.social_studies.average;
        const gradesocial_studies = document.getElementById("gradesocial_studies");
        gradesocial_studies.textContent = userData.exam_results.social_studies.grade;
        const remarksocial_studies = document.getElementById("remarksocial_studies");
        remarksocial_studies.textContent = userData.exam_results.social_studies.remark;
        const midtotale = document.getElementById("midtotale");
        midtotale.textContent = totalMarksMid;
        const btotale = document.getElementById("btotale");
        btotale.textContent = totalMarksBeginning;
        const etotale = document.getElementById("etotale");
        etotale.textContent = totalMarksEnd;
        const sumtotale = document.getElementById("sumtotale");
        sumtotale.textContent = userData.exam_results.english.total + userData.exam_results.social_studies.total + userData.exam_results.science.total + userData.exam_results.math.total
        const avgetotale = document.getElementById("avgetotale");
        avgetotale.textContent = ((userData.exam_results.english.average + userData.exam_results.social_studies.average + userData.exam_results.science.average + userData.exam_results.math.average) / 4).toFixed(1);
        let addgradesup = []
        addgradesup.push(userData.exam_results.social_studies.grade)
        addgradesup.push(userData.exam_results.science.grade)
        addgradesup.push(userData.exam_results.math.grade)
        addgradesup.push(userData.exam_results.english.grade)
        const aggre = document.getElementById("aggre");
        aggregat = addgradesup.reduce((acc, grade) => acc + parseInt(grade.slice(1)), 0)
        aggre.textContent = aggregat
        let divis = ''
        if (aggregat >= 4 && aggregat <= 12) {
          divis = 1;
        } else if (aggregat >= 13 && aggregat <= 23) {
          divis = 2;
        } else if (aggregat >= 24 && aggregat <= 29) {
          divis = 3;
        } else if (aggregat >= 30 && aggregat <= 34) {
          divis = 3;
        } else {

          divis = "UNKNOWN";
        }
        const diviso = document.getElementById("diviso");
        diviso.textContent = divis
        window.print()

      })
      .catch((error) => console.error("Error fetching top users data:", error));
  });
</script>
<style>
  table,
  th,
  td {
    border: 2px solid #00001f;
    border-collapse: separate !important;
    color: black;
    width: -webkit-fill-available;
    background-color: white;
    margin: 0 -15px;
  }

  td {
    text-align: center;
  }

  .obano {
    border-collapse: collapse;
  }

  .lydia {
    text-align: center;
    width: -webkit-fill-available;
  }
</style>
{% endblock %}