{% extends "base.html" %} {% block title %}Experts Dash Page{% endblock %} {%
block content %}

<div
  class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header"
>
  <div class="app-header header-shadow">
    <div class="app-header__logo">
      <div class="" id=""></div>
      <div class="header__pane ml-auto"></div>
    </div>
    <div class="app-header__mobile-menu"></div>
    <div class="app-header__menu"></div>
    <div class="app-header__content">
      <div class="app-header-right">
        <div class="header-btn-lg pr-0">
          <div class="widget-content p-0">
            <div class="widget-content-wrapper">
              <div class="widget-content-left ml-3 header-user-info">
                <div class="widget-heading">
                  {% if session.username %} {{ session.username }} {% else %}
                  <script>
                    var usernameFromLocalStorage =
                      localStorage.getItem("username");
                    document.write(usernameFromLocalStorage);
                  </script>
                  {% endif %}
                </div>
                <div class="widget-subheading">
                  {% if session.role %} {{ session.role }} {% else %}
                  <script>
                    var roleFromLocalStorage = localStorage.getItem("role");
                    document.write(roleFromLocalStorage);
                  </script>
                  {% endif %}
                </div>
              </div>
              <div class="widget-content-right header-user-info ml-3">
                <button
                  type="button"
                  class="btn-shadow p-1 btn btn-primary btn-sm"
                  id="logoutButton"
                >
                  Logout
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui-theme-settings">
    <div class="theme-settings__inner">
      <div class="scrollbar-container">
        <div class="theme-settings__options-wrapper">
          <h3 class="themeoptions-heading">Layout Options</h3>
          <div class="p-3">
            <ul class="list-group">
              <li class="list-group-item">
                <div class="widget-content p-0">
                  <div class="widget-content-wrapper">
                    <div class="widget-content-left mr-3">
                      <div
                        class="switch has-switch switch-container-class"
                        data-class="fixed-header"
                      >
                        <div class="switch-animate switch-on">
                          <input
                            type="checkbox"
                            checked
                            data-toggle="toggle"
                            data-onstyle="success"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="widget-content-left">
                      <div class="widget-heading">Fixed Header</div>
                      <div class="widget-subheading">
                        Makes the header top fixed, always visible!
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="widget-content p-0">
                  <div class="widget-content-wrapper">
                    <div class="widget-content-left mr-3">
                      <div
                        class="switch has-switch switch-container-class"
                        data-class="fixed-sidebar"
                      >
                        <div class="switch-animate switch-on">
                          <input
                            type="checkbox"
                            checked
                            data-toggle="toggle"
                            data-onstyle="success"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="widget-content-left">
                      <div class="widget-heading">Fixed Sidebar</div>
                      <div class="widget-subheading">
                        Makes the sidebar left fixed, always visible!
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="widget-content p-0">
                  <div class="widget-content-wrapper">
                    <div class="widget-content-left mr-3">
                      <div
                        class="switch has-switch switch-container-class"
                        data-class="fixed-footer"
                      >
                        <div class="switch-animate switch-off">
                          <input
                            type="checkbox"
                            data-toggle="toggle"
                            data-onstyle="success"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="widget-content-left">
                      <div class="widget-heading">Fixed Footer</div>
                      <div class="widget-subheading">
                        Makes the app footer bottom fixed, always visible!
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="p-3">
            <ul class="list-group">
              <li class="list-group-item">
                <h5 class="pb-2">Page Section Tabs</h5>
                <div class="theme-settings-swatches">
                  <div role="group" class="mt-2 btn-group">
                    <button
                      type="button"
                      class="btn-wide btn-shadow btn-primary btn btn-secondary switch-theme-class"
                      data-class="body-tabs-line"
                    >
                      Line
                    </button>
                    <button
                      type="button"
                      class="btn-wide btn-shadow btn-primary active btn btn-secondary switch-theme-class"
                      data-class="body-tabs-shadow"
                    >
                      Shadow
                    </button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="app-main">
    <div class="app-main__outer">
      <div class="app-main__inner">
        <div class="row">
          <div class="col-md-9">
            <ul class="nav nav-pills nav-fill">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  href="{{ url_for('web.expert_dashoard') }}"
                  >Review Questions</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link text-success"
                  href="{{ url_for('web.answer_questions') }}"
                  >Answer Questions</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link text-success"
                  href="{{ url_for('web.rank_answers') }}"
                  >Rank Answers</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="main-card mb-3 card">
              <div class="justify-content-center text-center">
                <div
                  class="card px-4 col-9 mx-auto mt-3 mb-3 border border-success"
                >
                  <div class="row">
                    <div class="col-md-12 mx-0">
                      <form id="msform">
                        <!-- progressbar -->
                        <ul id="progressbar">
                          <li class="active" id="account">
                            <strong>Agriculture</strong>
                          </li>
                          <li id="personal">
                            <strong>Clarity/Grammar</strong>
                          </li>
                          <li id="payment"><strong>Topic</strong></li>
                        </ul>
                        <!-- fieldsets -->
                        <fieldset>
                          <div
                            class="card mb-3 ml-3 col-11 text-left text-warning font-weight-bold mx-4 my-4"
                          >
                            <span>1. Read the Question.</span
                            ><span
                              >2. If the question is related to agriculture,
                              click "Yes."</span
                            ><span>
                              3. If the question is not related to agriculture,
                              click "No."</span
                            >
                          </div>
                          <div class="form-card rounded">
                            <div class="h4 text-dark font-weight-bold">
                              <span class="text-success mr-3">Question:</span
                              >What causes cassava mosaic?
                            </div>
                          </div>
                          <input
                            type="button"
                            name="previous"
                            class="btn btn-warning mr-5 px-5"
                            value="No"
                          />
                          <input
                            type="button"
                            name="next"
                            class="next action-button derek ml-5"
                            value="Yes"
                          />
                        </fieldset>
                        <fieldset>
                          <div
                            class="card mb-3 ml-3 col-11 text-left font-weight-bold text-warning mx-4 my-4"
                          >
                            <span>
                              1. Determine if the question is clear and
                              grammatically correct.</span
                            ><span>
                              2. If the question is clear and grammatically
                              correct, click "Next."</span
                            ><span
                              >3. If the question needs improvement, rewrite it
                              correctly it to improve clarity and grammar.
                            </span>
                            <span>4. Click Next.</span>
                          </div>
                          <div class="form-card rounded">
                            <div class="h4 text-dark font-weight-bold">
                              <span class="text-success mr-3">Question:</span
                              >What causes cassava mosaic?
                            </div>
                            <input
                              type="text"
                              name="rephrased"
                              class="form-control"
                              placeholder="Rephrase the question here."
                            />
                          </div>
                          <input
                            type="button"
                            name="previous"
                            class="previous action-button-previous Prevv mr-5"
                            value="Previous"
                          />
                          <input
                            type="button"
                            name="next"
                            class="next action-button derek ml-5"
                            value="Next Step"
                          />
                        </fieldset>
                        <fieldset>
                          <div class="form-card">
                            <div class="h4 text-success">
                              Does the current question topic align/match
                              accurately? If not, add a new topic.
                            </div>
                            <div class="h4 text-dark pb-2">
                              <span class="text-secondary mr-3">Topic:</span
                              ><strong>Crop Diseases</strong>
                            </div>
                            <div class="h4 text-dark py-2">
                              <span>What causes cassava mosaic?</span>
                            </div>
                            <input
                              type="text"
                              name="topic"
                              placeholder="Add a new topic"
                              class="form-control"
                            />
                          </div>
                          <input
                            type="button"
                            name="previous"
                            class="previous action-button-previous Prevv mr-5"
                            value="Previous"
                          />
                          <input
                            type="button"
                            name="submit"
                            class="next action-button derek ml-5"
                            value="Submit"
                          />
                        </fieldset>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="app-wrapper-footer">
        <div class="app-footer">
          <div class="app-footer__inner">
            <div class="app-footer-left">
              <ul class="nav">
                <li class="nav-item">
                  <a href="https://air.ug" class="nav-link"> air.ug </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var current_fs, next_fs, previous_fs; // fieldsets
    var opacity;

    var nextButtons = document.querySelectorAll(".next");
    var previousButtons = document.querySelectorAll(".previous");
    var progressBarItems = document.querySelectorAll("#progressbar li");
    var radioButtons = document.querySelectorAll(".radio-group .radio");
    var submitButton = document.querySelector(".submit");

    nextButtons.forEach(function (button) {
      button.addEventListener("click", function () {
        current_fs = this.parentElement;
        next_fs = this.parentElement.nextElementSibling;

        progressBarItems[
          Array.from(document.querySelectorAll("fieldset")).indexOf(next_fs)
        ].classList.add("active");

        next_fs.style.display = "block";
        current_fs.style.opacity = 0;

        var animationInterval = setInterval(function () {
          opacity = parseFloat(current_fs.style.opacity);
          if (opacity <= 0) {
            clearInterval(animationInterval);
            current_fs.style.display = "none";
            next_fs.style.opacity = 1;
          } else {
            current_fs.style.opacity = (opacity - 0.05).toString();
          }
        }, 10);
      });
    });

    previousButtons.forEach(function (button) {
      button.addEventListener("click", function () {
        current_fs = this.parentElement;
        previous_fs = this.parentElement.previousElementSibling;

        progressBarItems[
          Array.from(document.querySelectorAll("fieldset")).indexOf(current_fs)
        ].classList.remove("active");

        previous_fs.style.display = "block";
        current_fs.style.opacity = 0;

        var animationInterval = setInterval(function () {
          opacity = parseFloat(current_fs.style.opacity);
          if (opacity <= 0) {
            clearInterval(animationInterval);
            current_fs.style.display = "none";
            previous_fs.style.opacity = 1;
          } else {
            current_fs.style.opacity = (opacity - 0.05).toString();
          }
        }, 10);
      });
    });

    radioButtons.forEach(function (radio) {
      radio.addEventListener("click", function () {
        var radioGroup = this.parentElement;
        radioGroup.querySelectorAll(".radio").forEach(function (radioItem) {
          radioItem.classList.remove("selected");
        });
        this.classList.add("selected");
      });
    });

    submitButton.addEventListener("click", function () {
      return false;
    });
  });
</script>
<script>
  function logout() {
    // Clear the user token from localStorage
    localStorage.clear();

    // Redirect to the index.html page
    window.location.href = "/"; // Redirect to the index page
  }

  function reload() {
    window.location.reload();
  }

  // Attach the logout function to the logout button/link
  const logoutButton = document.getElementById("logoutButton");
  if (logoutButton) {
    logoutButton.addEventListener("click", logout);
  }

  function showFormWithQuestionId(questionId) {
    // Display the form and set the question ID as a data attribute
    var form = document.getElementById("answerForm");
    form.style.display = "block";
    form.setAttribute("data-question-id", questionId);
  }

  document
    .addEventListener("DOMContentLoaded", function () {
      const token = localStorage.getItem("token"); // Get the token from local storage

      // Fetch top users data
      fetch("/api/v1/questions/random_question", {
        headers: {
          Authorization: `Bearer ${token}`,
        },
      })
        .then((response) => response.json())
        .then((randomQuestion) => {
          const oneQuestion = document.getElementById("oneQuestion");
          oneQuestion.textContent = randomQuestion.sentence;
          const questionLanguage = document.getElementById("questionLanguage");
          questionLanguage.textContent = randomQuestion.language;
          const questionTopic = document.getElementById("questionTopic");
          questionTopic.textContent = randomQuestion.topic
            ? randomQuestion.topic
            : "No Topic";
          var questionId = randomQuestion.id;
          showFormWithQuestionId(questionId);
        });
    })
    .catch((error) => console.error("Error fetching question:"));
</script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const form = document.getElementById("answerForm");
    const errorMessage = document.getElementById("errorMessage");
    const token = localStorage.getItem("token");

    answerForm.addEventListener("submit", async function (event) {
      event.preventDefault();
      var questionIdButton = this.getAttribute("data-question-id");
      let questionId = parseInt(questionIdButton);
      let answer = document.getElementById("answer").value;
      const itemBody = {
        answer: answer,
      };
      console.log(answer);
      const response = await fetch(
        `/api/v1/questions/add_answer/${questionId}`,
        {
          method: "POST",
          headers: {
            "content-type": "application/json",
            Authorization: `Bearer ${token}`,
          },
          body: JSON.stringify(itemBody),
        }
      );

      try {
        const responseData = await response.json();
        if (response.ok) {
          window.location.reload();
          window.location.href = window.location.href;
        } else {
          errorMessage.textContent = responseData.error;
        }
      } catch (error) {
        console.error("Error parsing response:");
      } finally {
        window.location.reload();
      }
    });
  });
</script>
{% endblock %}
