{% extends "base.html" %} {% block title %}Home Page{% endblock %} {% block
content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 border h-100 bg-light">
      <div class="justify-content-center align-items-center">
        <img src="{{ url_for('static', filename='img/Experts.svg') }}" alt="SVG Image" width="100%" height="100%" />

        <div class="ml-3 text-success">
          <h2>Welcome to the Adsurv Expert System</h2>
          <!-- <h3 class="text-left text-dark mt-3">Log in to start.</h3> -->
          <div class="Logos d-flex">
            <img src="{{ url_for('static', filename='img/naro.JPG') }}" alt="NARO Image" width="100%" height="100%"
              class="logo-img mr-5" /><img src="{{ url_for('static', filename='img/marconi_mak.png') }}"
              alt="Marconi Image" style="width: 300px; height: auto" class="ml-5 logo-img" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 border bg-success p-5 align-items-center">
      <div class="card shadow-sm m-5 h-80 mt-3">
        <div class="card-header bg-tempting-azure h3">Login</div>
        <div class="card-body border border-success">
          <form method="POST" action="{{ url_for('web.index') }}">
            <div class="form-group m-3">
              <label for="username" class="font-weight-bold h3">Username</label>
              <input type="text" class="form-control border border-success h4" id="username" name="username"
                placeholder="Enter username" />
            </div>
            <div class="form-group m-3">
              <label for="password" class="font-weight-bold h3">Password</label>
              <input type="password" class="form-control border border-success h4" id="password" name="password"
                placeholder="Password" />
            </div>
            <button type="submit" class="btn btn-primary h2 m-3">Login</button>
          </form>
          {% if error_message %}
          <div class="p-2 mt-3 d-flex justify-content-center badge badge-danger">
            {{ error_message }}
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function clearLocalStorageOnLoad() {
    localStorage.clear();
  }

  window.addEventListener("load", clearLocalStorageOnLoad);
</script>

{% endblock %}