{% extends "base.html" %} {% block title %}Experts Luganda Dash{% endblock %} {%
block content %}

<div
  class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header"
>
  <div class="app-header header-shadow">
    <div class="app-header__logo">
      <div class="" id=""></div>
      <div class="header__pane ml-auto"></div>
    </div>
    <div class="app-header__mobile-menu"></div>
    <div class="app-header__menu"></div>
    <div class="app-header__content">
      <div class="app-header-right">
        <div class="header-btn-lg pr-0">
          <div class="widget-content p-0">
            <div class="widget-content-wrapper">
              <div class="widget-content-left ml-3 header-user-info">
                <div class="widget-heading" id="user-info"></div>
                <div class="widget-subheading">Expert</div>
              </div>
              <div class="widget-content-right header-user-info ml-3">
                <button
                  type="button"
                  class="btn-shadow p-1 btn btn-primary btn-sm"
                  id="logoutButton"
                >
                  Logout
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui-theme-settings">
    <div class="theme-settings__inner">
      <div class="scrollbar-container">
        <div class="theme-settings__options-wrapper">
          <h3 class="themeoptions-heading">Layout Options</h3>
          <div class="p-3">
            <ul class="list-group">
              <li class="list-group-item">
                <div class="widget-content p-0">
                  <div class="widget-content-wrapper">
                    <div class="widget-content-left mr-3">
                      <div
                        class="switch has-switch switch-container-class"
                        data-class="fixed-header"
                      >
                        <div class="switch-animate switch-on">
                          <input
                            type="checkbox"
                            checked
                            data-toggle="toggle"
                            data-onstyle="success"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="widget-content-left">
                      <div class="widget-heading">Fixed Header</div>
                      <div class="widget-subheading">
                        Makes the header top fixed, always visible!
                      </div>
                    </div>
                  </div>
                </div>
              </li>

              <li class="list-group-item">
                <div class="widget-content p-0">
                  <div class="widget-content-wrapper">
                    <div class="widget-content-left mr-3">
                      <div
                        class="switch has-switch switch-container-class"
                        data-class="fixed-footer"
                      >
                        <div class="switch-animate switch-off">
                          <input
                            type="checkbox"
                            data-toggle="toggle"
                            data-onstyle="success"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="widget-content-left">
                      <div class="widget-heading">Fixed Footer</div>
                      <div class="widget-subheading">
                        Makes the app footer bottom fixed, always visible!
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="p-3">
            <ul class="list-group">
              <li class="list-group-item">
                <h5 class="pb-2">Page Section Tabs</h5>
                <div class="theme-settings-swatches">
                  <div role="group" class="mt-2 btn-group">
                    <button
                      type="button"
                      class="btn-wide btn-shadow btn-primary btn btn-secondary switch-theme-class"
                      data-class="body-tabs-line"
                    >
                      Line
                    </button>
                    <button
                      type="button"
                      class="btn-wide btn-shadow btn-primary active btn btn-secondary switch-theme-class"
                      data-class="body-tabs-shadow"
                    >
                      Shadow
                    </button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="app-main text-responsive">
    <div class="app-main__outer">
      <div class="app-main__inner">
        <div class="row">
          <div class="col-9 col-sm-12">
            <ul class="nav nav-pills nav-fill">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  style="font-size: 1.5rem"
                  href="{{ url_for('web.expert_dashboard') }}"
                  >Review Questions</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link text-success"
                  style="font-size: 1.5rem"
                  href="{{ url_for('web.answer_questions') }}"
                  >Answer Questions</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link text-success"
                  style="font-size: 1.5rem"
                  href="{{ url_for('web.rank_answers') }}"
                  >Rank Answers</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-12 card">
            <h1 class="text-center fs-4">Question Evaluation</h1>
            <form id="signUpForm" class="border border-dark">
              <div class="form-header d-flex mb-4 font-weight-bold h3">
                <span class="stepIndicator font-weight-bold">Agriculture</span>
                <span class="stepIndicator font-weight-bold"
                  >Clarity/Grammar</span
                >
                <span class="stepIndicator font-weight-bold">Topic</span>
              </div>
              <!-- end step indicators -->

              <!-- step one -->
              <div class="step">
                <div
                  class="card mb-3 ml-3 col-11 text-left text-dark font-weight-bold mx-4 my-4 p-2 shadow-none"
                >
                  <div class="text-center text-primary h2 font-weight-bold">
                    Instructions:
                  </div>
                  <p class="h3">1. Read the Question.</p>
                  <p class="h3">
                    2. If the question is related to agriculture, click
                    <strong>"Next."</strong>
                  </p>
                  <p class="h3">
                    3. If the question is not related to agriculture, click
                    <strong>"No."</strong>
                  </p>
                </div>
                <div class="mb-3">
                  <div class="h4 text-dark font-weight-bold">
                    <span class="text-primary mr-3">Question:</span
                    ><span id="oneQuestion" class="h2 font-weight-bold"></span>
                  </div>
                </div>
              </div>

              <!-- step two -->
              <div class="step">
                <div
                  class="card mb-3 ml-3 col-11 text-left font-weight-bold text-dark mx-4 my-4"
                >
                  <p class="text-center text-primary h2 font-weight-bold">
                    Instructions:
                  </p>
                  <p class="h3">
                    1. Determine if the question is clear and grammatically
                    correct.
                  </p>
                  <p class="h3">
                    2. If the question is clear and grammatically correct, click
                    <strong>"Next."</strong>
                  </p>
                  <p class="h3">
                    3. If the question needs improvement, rewrite it correctly
                    it to improve clarity and grammar.
                  </p>
                  <p class="h3">4. Click <strong>Next.</strong></p>
                </div>
                <div class="mb-3">
                  <div class="h4 text-dark font-weight-bold">
                    <span class="text-primary mr-3">Question:</span
                    ><span id="oneQuestion1" class="h2 font-weight-bold"></span>
                  </div>
                </div>
                <div class="mb-3">
                  <input
                    type="text"
                    name="rephrased"
                    id="rephrased"
                    class="border border-dark h3"
                    placeholder="Rephrase the question here."
                  />
                </div>
              </div>

              <!-- step three -->
              <div class="step">
                <div
                  class="card mb-3 ml-3 col-11 text-left font-weight-bold text-dark mx-4 my-4 border"
                >
                  <p class="text-center text-primary h3 font-weight-bold">
                    Instructions:
                  </p>
                  <p class="h3">
                    1. Determine if the topic accurately represents the
                    question.
                  </p>
                  <p class="h3">
                    2. If accurate, click the <strong>"Submit"</strong> button
                    below.
                  </p>
                  <p class="h3">
                    3. If inaccurate or not provided, select an accurate topic
                    from the dropdown menu.
                  </p>
                  <p class="h3">
                    4. After selecting the correct topic, click the
                    <strong>"Submit"</strong> button.
                  </p>
                </div>
                <div class="h4 text-dark pb-2">
                  <span class="text-primary mr-3 h2 font-weight-bold"
                    >Topic:</span
                  ><strong
                    id="questionTopic"
                    class="h2 font-weight-bold"
                  ></strong>
                </div>
                <div class="h4 text-dark font-weight-bold mb-3">
                  <span class="text-primary mr-3 h2 font-weight-bold"
                    >Question:</span
                  ><span id="oneQuestion2" class="h2 font-weight-bold"></span>
                </div>
                <div class="h4 text-dark font-weight-bold mb-5">
                  <span class="text-primary mr-3 h2 font-weight-bold"
                    >Category:</span
                  ><span
                    id="questionCategory"
                    class="h2 font-weight-bold"
                    style="text-transform: capitalize"
                  ></span>
                </div>
                <div class="mb-3">
                  <label
                    for="dropdown"
                    class="h4 text-center w-100 font-weight-bold"
                    >Choose a Topic</label
                  >
                  <select
                    id="topic"
                    name="topic"
                    class="form-control h3 border border-dark"
                    required
                  >
                    <option disabled selected value>Select</option>
                    <option value="Irrigation">Irrigation</option>
                    <option value="Pest Control">Pest control</option>
                    <option value="Crop Rotation">Crop rotation</option>
                    <option value="Fertilizers">Fertilizers</option>
                    <option value="Livestock">Livestock</option>
                    <option value="Aquaculture">Aquaculture</option>
                    <option value="Soil Health">Soil health</option>
                    <option value="Food Security">Food security</option>
                    <option value="Cultivation">Cultivation</option>
                    <option value="Pesticides">Pesticides</option>
                    <option value="Weeds">Weeds</option>
                    <option value="Planting">Planting</option>
                    <option value="Harvesting">Harvesting</option>
                    <option value="Erosion">Erosion</option>
                    <option value="Cropping">Cropping</option>
                    <option value="Seeds">Seeds</option>
                    <option value="Animals">Animals</option>
                    <option value="Soil">Soil</option>
                    <option value="Water">Water</option>
                    <option value="Tools">Tools</option>
                    <option value="Tractor">Tractor</option>
                    <option value="Germination">Germination</option>
                    <option value="Farming">Farming</option>
                  </select>
                </div>
              </div>

              <!-- start previous / next buttons -->
              <div class="form-footer d-flex">
                <button
                  type="button"
                  id="prevBtn"
                  onclick="nextPrev(-1)"
                  class="bg-warning font-weight-bold text-white"
                >
                  Previous
                </button>
                <button
                  type="button"
                  id="nextBtn"
                  onclick="nextPrev(1)"
                  class="font-weight-bold"
                >
                  Next
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="app-wrapper-footer">
        <div class="app-footer">
          <div class="app-footer__inner">
            <div class="app-footer-left">
              <ul class="nav">
                <li class="nav-item">
                  <a href="https://air.ug" class="nav-link"> air.ug </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  const token = "{{ token }}";
  const user = "{{ user }}";
  const role = "{{ role }}";

  // Check if the token is not empty and store it in local storage
  

  const userElement = document.getElementById("user-info");
  var currentTab = 0;

  // Retrieve data from local storage
  const storedUser = localStorage.getItem("user");

  if (storedUser) {
    userElement.textContent = storedUser;
  } else {
    userElement.textContent = Expert;
  }
  function logout() {
    // Clear the user token from localStorage
    localStorage.clear();

    // Redirect to the index.html page
    window.location.href = "/"; // Redirect to the index page
  }

  function reload() {
    window.location.reload();
  }

  // Attach the logout function to the logout button/link
  const logoutButton = document.getElementById("logoutButton");
  if (logoutButton) {
    logoutButton.addEventListener("click", logout);
  }

  function fixStepIndicator(n) {
    var i,
      x = document.getElementsByClassName("stepIndicator");
    for (i = 0; i < x.length; i++) {
      x[i].className = x[i].className.replace(" active", "");
    }
    x[n].className += " active";
  }
  function showTab(n) {
    var x = document.getElementsByClassName("step");
    x[n].style.display = "block";

    var prevBtn = document.getElementById("prevBtn");
    if (n == 0) {
      prevBtn.innerHTML = "No";
      prevBtn.setAttribute("onclick", "nextPrev(-1, true)");
    } else {
      prevBtn.innerHTML = "Previous";
      prevBtn.setAttribute("onclick", "nextPrev(-1, false)");
    }

    var nextBtn = document.getElementById("nextBtn");
    if (n == x.length - 1) {
      nextBtn.innerHTML = "Submit";
    } else {
      nextBtn.innerHTML = "Next";
    }

    fixStepIndicator(n);
  }

  function nextPrev(n) {
    var x = document.getElementsByClassName("step");
    if (n == 1 && !true) return false;
    x[currentTab].style.display = "none";
    currentTab = currentTab + n;
    if (currentTab >= x.length) {
      submitForm();
      // document.getElementById("signUpForm").submit();

      return false;
    }
    showTab(currentTab);
  }

  const mytoken = localStorage.getItem("token");
  let rephrased = document.getElementById("rephrased");
  let displayValue = document.getElementById("displayValue");
  let questio = document.getElementById("oneQuestion2");
  rephrased.addEventListener("input", function () {
    displayValue.textContent = rephrased.value;
    // questio.textContent = ''
  });

  async function submitForm() {
    event.preventDefault();
    var form = document.getElementById("signUpForm");
    var formData = new FormData(form);

    let questionId2 = parseInt(form.getAttribute("data-question-id"));
    const rephrased = document.getElementById("rephrased");
    const topic = document.getElementById("topic").value;
    const displayValue = document.getElementById("displayValue");
    // rephrased.addEventListener("input", function () {
    //   // Update the display element with the input value
    //   displayValue.textContent = rephrased.value;
    //   console.log(displayValue);
    // });
    let itemBody = {};

    if (rephrased !== "" && topic !== "") {
      itemBody = { rephrased: rephrased, topic: topic };
    } else if (rephrased !== "") {
      itemBody = { rephrased: rephrased };
    } else if (topic !== "") {
      itemBody = { topic: topic };
    } else {
      itemBody = {};
    }

    try {
      const response = await fetch(
        `/api/v1/questions/question_review/${questionId2}`,
        {
          method: "PUT",
          headers: {
            "content-type": "application/json",
            Authorization: `Bearer ${mytoken}`,
          },
          body: JSON.stringify(itemBody),
        }
      );

      const responseData = await response.json();
      if (response) {
        window.location.reload();
        // window.location.href = window.location.href;
      } else {
        errorMessage.textContent = responseData.error;
      }
    } catch (error) {
      console.error("Error parsing response:", error);
    }
  }

  document.addEventListener("DOMContentLoaded", function () {
    // Get the token from local storage
    const token = localStorage.getItem("token");

    function showFormWithQuestionId(questionId) {
      // Display the form and set the question ID as a data attribute
      var form = document.getElementById("signUpForm");
      form.style.display = "block";
      form.setAttribute("data-question-id", questionId);
    }
    // Current tab is set to be the first tab (0)
    showTab(currentTab); // Display the current tab

    // Fetch top users data
    fetch("/api/v1/questions/random_question_review", {
      headers: {
        Authorization: `Bearer ${mytoken}`,
      },
    })
      .then((response) => response.json())
      .then((randomQuestion) => {
        const anyQuestion = randomQuestion.find(
          (question) => question.question_language === "Any Language"
        );
        const englishQuestion = randomQuestion.find(
          (question) => question.question_language === "English"
        );
        const lugandaQuestion = randomQuestion.find(
          (question) => question.question_language === "Luganda"
        );
        const oneQuestion = document.getElementById("oneQuestion");
        oneQuestion.textContent = lugandaQuestion.sentence;
        const oneQuestion1 = document.getElementById("oneQuestion1");
        oneQuestion1.textContent = lugandaQuestion.sentence;
        const oneQuestion2 = document.getElementById("oneQuestion2");
        oneQuestion2.textContent = lugandaQuestion.sentence;
        const questionTopic = document.getElementById("questionTopic");
        questionTopic.textContent = lugandaQuestion.topic
          ? lugandaQuestion.topic
          : "No Topic";
        const questionCategory = document.getElementById("questionCategory");
        questionCategory.textContent = lugandaQuestion.category
          ? lugandaQuestion.category
          : "No Category";
        var questionId = lugandaQuestion.id;
        // console.log(questionId);
        showFormWithQuestionId(questionId);
        const incorrectQuestion = document.getElementById("prevBtn");
        if (incorrectQuestion) {
          incorrectQuestion.addEventListener("click", async function (event) {
            event.preventDefault();
            let questionId1 = parseInt(questionId);
            // console.log(questionId1);
            if (prevBtn.innerHTML === "No") {
              await updateQuestion(questionId1);
            }
          });
        }
      })
      .catch((error) => console.error("Error fetching question:"));

    function updateQuestion(questionId) {
      const response = fetch(`/api/v1/questions/incorrect/${questionId}`, {
        method: "PUT",
        headers: {
          Authorization: `Bearer ${mytoken}`,
        },
      })
        .then((response) => response.json())
        .then((responseData) => {
          if (response) {
            window.location.reload();
          } else {
            console.error("Error updating question:");
          }
        })
        .catch((error) => console.error("Error parsing response:", error));
    }
  });
</script>
{% endblock %}
