{% extends "base.html" %} {% block title %}Experts Dash Page{% endblock %} {%
block content %}

<div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
  <div class="app-header header-shadow">
    <div class="app-header__logo">
      <div class="" id=""></div>
      <div class="header__pane ml-auto"></div>
    </div>
    <div class="app-header__mobile-menu"></div>
    <div class="app-header__menu"></div>
    <div class="app-header__content">
      <div class="app-header-right">
        <div class="header-btn-lg pr-0">
          <div class="widget-content p-0">
            <div class="widget-content-wrapper">
              <div class="widget-content-left ml-3 header-user-info">
                <div class="widget-heading" id="user-info"></div>
                <div class="widget-subheading">Expert</div>
              </div>
              <div class="widget-content-right header-user-info ml-3">
                <button type="button" class="btn-shadow p-1 btn btn-primary btn-sm" id="logoutButton">
                  Logout
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui-theme-settings">
    <div class="theme-settings__inner">
      <div class="scrollbar-container">
        <div class="theme-settings__options-wrapper">
          <h3 class="themeoptions-heading">Layout Options</h3>
          <div class="p-3">
            <ul class="list-group">
              <li class="list-group-item">
                <div class="widget-content p-0">
                  <div class="widget-content-wrapper">
                    <div class="widget-content-left mr-3">
                      <div class="switch has-switch switch-container-class" data-class="fixed-header">
                        <div class="switch-animate switch-on">
                          <input type="checkbox" checked data-toggle="toggle" data-onstyle="success" />
                        </div>
                      </div>
                    </div>
                    <div class="widget-content-left">
                      <div class="widget-heading">Fixed Header</div>
                      <div class="widget-subheading">
                        Makes the header top fixed, always visible!
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="widget-content p-0">
                  <div class="widget-content-wrapper">
                    <div class="widget-content-left mr-3">
                      <div class="switch has-switch switch-container-class" data-class="fixed-sidebar">
                        <div class="switch-animate switch-on">
                          <input type="checkbox" checked data-toggle="toggle" data-onstyle="success" />
                        </div>
                      </div>
                    </div>
                    <div class="widget-content-left">
                      <div class="widget-heading">Fixed Sidebar</div>
                      <div class="widget-subheading">
                        Makes the sidebar left fixed, always visible!
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="widget-content p-0">
                  <div class="widget-content-wrapper">
                    <div class="widget-content-left mr-3">
                      <div class="switch has-switch switch-container-class" data-class="fixed-footer">
                        <div class="switch-animate switch-off">
                          <input type="checkbox" data-toggle="toggle" data-onstyle="success" />
                        </div>
                      </div>
                    </div>
                    <div class="widget-content-left">
                      <div class="widget-heading">Fixed Footer</div>
                      <div class="widget-subheading">
                        Makes the app footer bottom fixed, always visible!
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="p-3">
            <ul class="list-group">
              <li class="list-group-item">
                <h5 class="pb-2">Page Section Tabs</h5>
                <div class="theme-settings-swatches">
                  <div role="group" class="mt-2 btn-group">
                    <button type="button" class="btn-wide btn-shadow btn-primary btn btn-secondary switch-theme-class"
                      data-class="body-tabs-line">
                      Line
                    </button>
                    <button type="button"
                      class="btn-wide btn-shadow btn-primary active btn btn-secondary switch-theme-class"
                      data-class="body-tabs-shadow">
                      Shadow
                    </button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="app-main">
    <div class="app-main__outer">
      <div class="app-main__inner">
        <div class="row">
          <div class="col-9 col-sm-12">
            <ul class="nav nav-pills nav-fill">
              <li class="nav-item">
                <a class="nav-link text-success" style="font-size: 1.5rem"
                  href="{{ url_for('web.my_answers') }}">Metrics</a>
              </li>
              <!-- <li class="nav-item">
                <a
                  class="nav-link text-success"
                  style="font-size: 1.5rem"
                  href="{{ url_for('web.main_answer') }}"
                  >Answer Questions</a
                >
              </li> -->
              <li class="nav-item">
                <a class="nav-link active my-element" style="font-size: 1.5rem"
                  href="{{ url_for('web.main_rank') }}">Rank Answers</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="main-card mb-3 card">
              <div class="justify-content-center">
                <form id="rankForm" class="py-5 px-5">
                  <fieldset>
                    <div
                      class="card mb-3 ml-3 col-11 text-left text-dark font-weight-bold mx-4 my-4 p-2 shadow-none accordion-container">
                      <div class="text-center text-primary h2 font-weight-bold vert">
                        Instructions:
                      </div>
                      <div class="panel">
                        <p class="h2 font-weight-bold">
                          Answers will be ranked according to the following
                          criteria:
                        </p>
                        <p class="h4 accordion">
                          <strong>Coherence</strong> - means the quality of
                          being logical and consistent in terms of a answer.
                        </p>

                        <p class="h4 panel border border-success border-top-0 mb-2 text-justify">
                          A coherent answer should follow the topic, context,
                          and structure of the input text or query. A coherent
                          answer should also avoid repetition, contradiction, or
                          irrelevant information.
                        </p>
                        <p class="h4 accordion">
                          <strong>Fluency</strong> - means the ability to use a
                          language smoothly, accurately, and effortlessly in
                          terms of an answer.
                        </p>

                        <p class="h4 panel border border-success border-top-0 mb-2 text-justify">
                          A fluent answer should follow the grammatical,
                          syntactic, and lexical rules of the language, and
                          avoid errors, pauses, or repetitions that may hinder
                          the communication. A fluent answer should also convey
                          the intended meaning and tone of the question.
                        </p>

                        <p class="h4 accordion">
                          <strong>Relevance</strong> - means the quality of
                          being closely connected or appropriate in terms of an
                          answer.
                        </p>
                        <p class="h4 panel border border-success border-top-0 text-justify">
                          A relevant answer should match the question in terms
                          of meaning, intention, and style. A relevant answer
                          should also satisfy the information need or goal of
                          the farmer.
                        </p>
                        <p class="h4 accordion">
                          <strong>Context</strong> - means the answer must
                          address unique details of the situation and location
                          provided in the question.
                        </p>
                        <p class="h4 panel border border-success border-top-0 text-justify">
                          refers to the specific conditions, factors, or
                          circumstances related to the question at hand, such as
                          the type of crop, location, weather, or farming
                          practices, which are essential for evaluating the most
                          comprehensive and relevant response. Your evaluation
                          here answers this question.
                          <strong>Is this answer context specific?</strong>
                        </p>
                        <p class="h3 text-primary font-weight-bold">
                          Select the option that most accurately reflects your
                          level of agreement with the provided answers by rating
                          them on a scale of 1 to 5:
                        </p>
                        <p class="h4">1 = Strongly disagree</p>
                        <p class="h4">2 = Disagree</p>
                        <p class="h4">3 = Neutral</p>
                        <p class="h4">4 = Agree</p>
                        <p class="h4">5 = Strongly agree</p>
                      </div>
                    </div>
                    <div class="list-group-item bg-success text-justify h2 mb-4">
                      <strong id="oneQuestion"></strong>
                    </div>
                    <div class="h3">
                      Topic:&nbsp;<strong id="questionTopic" class="text-capitalize text-primary"></strong>
                    </div>
                    <div class="h3">
                      Location:&nbsp;<strong id="questionLocation" class="text-capitalize text-primary"></strong>&nbsp;
                      Category:&nbsp;<strong id="questionCategor" class="text-capitalize text-primary"></strong>&nbsp;
                      Sub-Category:&nbsp;<strong id="questionSub" class="text-capitalize text-primary"></strong>
                    </div>
                    <table class="table">
                      <thead>
                        <tr class="h4">
                          <th class="">
                            <u>Answers</u>
                          </th>
                          <th class="text-center">Relevance</th>
                          <th class="text-center">Coherence</th>
                          <th class="text-center">Fluency</th>
                          <th class="text-center">Context</th>
                          <th class="text-center">Report</th>
                        </tr>
                      </thead>

                      <tbody id="answerTableBody"></tbody>
                    </table>

                    <div class="d-flex justify-content-between">
                      <button style="font-size: 1.5rem" class="btn btn-warning my-3" onclick="reloadPage()">
                        Skip
                      </button>
                      <button style="font-size: 1.5rem" class="btn btn-primary my-3" type="submit">
                        Submit
                      </button>
                    </div>
                  </fieldset>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="app-wrapper-footer">
        <div class="app-footer">
          <div class="app-footer__inner">
            <div class="app-footer-left">
              <ul class="nav">
                <li class="nav-item">
                  <a href="https://air.ug" class="nav-link"> air.ug </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function getValueFromLocalStorage(key, defaultValue) {
    const storedValue = localStorage.getItem(key);
    return storedValue ? storedValue : defaultValue;
  }

  // Retrieve values from localStorage or use default values
  const token = getValueFromLocalStorage("token", "{{ token }}");
  const user = getValueFromLocalStorage("user", "{{ user }}");
  const role = getValueFromLocalStorage("role", "{{ role }}");
  const my_id = getValueFromLocalStorage("my_id", "{{ my_id }}");
  const language = getValueFromLocalStorage("language", "{{ language }}");
  const category = getValueFromLocalStorage("category", "{{ category }}");
  const sub_category = getValueFromLocalStorage(
    "sub_category",
    "{{ sub_category }}"
  );
  const new_category = getValueFromLocalStorage(
    "new_category",
    "{{ new_category }}"
  );

  // Update localStorage with the current values
  localStorage.setItem("token", token);
  localStorage.setItem("my_id", my_id);
  localStorage.setItem("user", user);
  localStorage.setItem("role", role);
  localStorage.setItem("language", language);
  localStorage.setItem("category", category);
  localStorage.setItem("sub_category", sub_category);
  localStorage.setItem("new_category", new_category);

  const userElement = document.getElementById("user-info");
  var currentTab = 0;

  const storedUser = localStorage.getItem("user");

  if (storedUser) {
    userElement.textContent = storedUser;
  } else {
    userElement.textContent = Expert;
  }

  if (storedUser === null || storedUser === "None" || storedUser === "" || typeof storedUser === "undefined") {
    logout();
  }
  function reloadPage() {
    event.preventDefault();
    window.location.reload();
  }
  function logout() {
    // Clear the user token from localStorage
    localStorage.clear();

    // Redirect to the index.html page
    window.location.href = "/"; // Redirect to the index page
  }

  const logoutButton = document.getElementById("logoutButton");
  if (logoutButton) {
    logoutButton.addEventListener("click", logout);
  }

  function getSelectedRadioValue(element) {
    const radioButtons = element.querySelectorAll('input[type="radio"]');
    for (const radio of radioButtons) {
      if (radio.checked) {
        return radio.value;
      }
    }
    return "not selected";
  }
  let qnAnswers = [];
  let radioValues = {};

  document.addEventListener("DOMContentLoaded", function () {
    const token = localStorage.getItem("token");
    const language = localStorage.getItem("language");
    const category = localStorage.getItem("category");
    const sub_category = localStorage.getItem("sub_category");
    const new_category = localStorage.getItem("new_category");


    function showFormWithQuestionId(questionId) {
      // Display the form and set the question ID as a data attribute
      var form = document.getElementById("rankForm");
      form.style.display = "block";
      form.setAttribute("data-question-id", questionId);
    }

    let userDetails = {
      category: category,
      language: language,
      sub_category: sub_category,
      new_category: new_category,
    };
    fetch("/api/v1/questions/main_question_rank", {
      method: "POST",
      headers: {
        "content-type": "application/json",
        Authorization: `Bearer ${token}`,
      },
      body: JSON.stringify(userDetails),
    })
      .then((response) => response.json())
      .then((randomQuestion) => {
        console.log(randomQuestion);
        if (randomQuestion.message === "No questions available for ranking.") {
          let oneQuestion = document.getElementById("oneQuestion");
          oneQuestion.textContent = "No questions available for ranking.";
        }
        let randomQuestionData = randomQuestion.random_question_data;
        const { answers } = randomQuestionData;
        qnAnswers = answers;
        let oneQuestion = document.getElementById("oneQuestion");
        oneQuestion.textContent = randomQuestionData.sentence
          ? randomQuestionData.sentence
          : randomQuestionData.filename
            ? randomQuestionData.filename
            : "No Questions!";

        let questionTopic = document.getElementById("questionTopic");
        questionTopic.textContent = randomQuestionData.topic
          ? randomQuestionData.topic
          : "No Topic";
        let questionLocation = document.getElementById("questionLocation");
        questionLocation.textContent = randomQuestionData.location;
        let questionCategor = document.getElementById("questionCategor");
        questionCategor.textContent = randomQuestionData.category;
        let questionSub = document.getElementById("questionSub");
        questionSub.textContent = randomQuestionData.animal_crop;
        const tableBody = document.getElementById("answerTableBody");
        answers.forEach((answer, index) => {
          const newRow = document.createElement("tr");
          newRow.classList.add("answer-rank");
          newRow.dataset.answerId = answer.id;
          newRow.innerHTML = `
                <td class="h3 text-justify">${answer.answer_text}</td>
                <td class="text-center rankIncrease" id="rankIncrease">
                  <div  class="minus">-</div>
                  <input type="text" class="showDigit text-center my-2 relevance" value=0 readonly>
                  <div class="plus">+</div>
                </td>
                <td class="text-center rankIncrease greed" id="rankIncrease">
                  <div  class="minus">-</div>
                  <input type="text" class="showDigit text-center my-2 coherence" value=0 readonly>
                  <div class="plus">+</div>
                </td>
                <td class="text-center rankIncrease" id="rankIncrease">
                  <div  class="minus">-</div>
                  <input type="text" class="showDigit text-center my-2 fluency" value=0 readonly>
                  <div class="plus">+</div>
                </td>
                <td class="text-center radioButtn">
                  <label class="mr-2">
                    <input type="radio" name="choice${index}" value="yes"> Yes
                  </label>
                  <label>
                    <input type="radio" name="choice${index}" value="no"> No
                  </label>
                </td>
  
                <td class="text-center">
                  <button type="button" class="btn btn-success fitting" onclick="toggleButtonText(${index})" id="toggleButton_${index}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-flag" viewBox="0 0 16 16">
                      <path d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12.435 12.435 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A19.626 19.626 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a19.587 19.587 0 0 0 1.349-.476l.019-.007.004-.002h.001M14 1.221c-.22.078-.48.167-.766.255-.81.252-1.872.523-2.734.523-.886 0-1.592-.286-2.203-.534l-.008-.003C7.662 1.21 7.139 1 6.5 1c-.669 0-1.606.229-2.415.478A21.294 21.294 0 0 0 3 1.845v6.433c.22-.078.48-.167.766-.255C4.576 7.77 5.638 7.5 6.5 7.5c.847 0 1.548.28 2.158.525l.028.01C9.32 8.29 9.86 8.5 10.5 8.5c.668 0 1.606-.229 2.415-.478A21.317 21.317 0 0 0 14 7.655V1.222z"></path>
                    </svg>
                    Flag
                  </button>
                </td>
            `;
          tableBody.appendChild(newRow);
          let rankIncreaseCells = newRow.querySelectorAll(".rankIncrease");
          rankIncreaseCells.forEach((cell) => {
            const minusDiv = cell.querySelector(".minus");
            const plusDiv = cell.querySelector(".plus");
            const inputField = cell.querySelector("input");

            minusDiv.addEventListener("click", () => {
              let currentValue = parseInt(inputField.value);

              // currentValue = Math.max(Math.min(currentValue || 1, 5), 1);

              if (currentValue > 1) {
                currentValue--;
              }

              inputField.value = currentValue;

            });

            plusDiv.addEventListener("click", () => {
              let currentValue = parseInt(inputField.value);
              // currentValue = Math.max(Math.min(currentValue || 1, 5), 1);

              if (currentValue < 5) {
                currentValue++;
              }

              inputField.value = currentValue;

            });

          });
          const radioButtons = newRow.querySelectorAll('input[type="radio"]');
          radioButtons.forEach((radio) => {
            radio.addEventListener("change", () => {
              const answerId = answer.id;
              const value = radio.value;
              radioValues[answerId] = value;
              // console.log(
              //   `Answer ID ${answerId}: Radio value changed to ${value}`
              // );
            });
          });
        });
        var questionId = randomQuestionData.id;
        showFormWithQuestionId(questionId);
      })
      .catch((error) => console.log("Error fetching question:", error));
  });
</script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const form = document.getElementById("rankForm");
    const errorMessage = document.getElementById("errorMessage");
    const token = localStorage.getItem("token");

    rankForm.addEventListener("submit", async function (event) {
      event.preventDefault();
      var questionIdButton = this.getAttribute("data-question-id");
      let questionId = parseInt(questionIdButton);

      const answerElements = document.querySelectorAll(".answer-rank");
      let rankings = [];
      let currentAnswer = {};
      let contextError;
      let hasInvalidValue = false;
      let shouldSubmit = true;


      answerElements.forEach((element, index) => {
        let answerID = element.dataset.answerId;
        const contextValue = getSelectedRadioValue(element);
        if (contextValue === "not selected") {
          alert("Please select a context for all the answers.");
          shouldSubmit = false;
          return;

        }
        relevance = parseInt(element.querySelector(".relevance").value);
        coherence = parseInt(element.querySelector(".coherence").value);
        fluency = parseInt(element.querySelector(".fluency").value);

        if (relevance < 1 || coherence < 1 || fluency < 1) {
          alert("Relevance, Coherence, and Fluency values must be at least 1.");
          hasInvalidValue = true;
          shouldSubmit = false;
          return;
        }

        const answerObject = {
          answer_id: answerID,
          answerText: element.querySelector(".h3").textContent,
          relevance: relevance,
          coherence: coherence,
          fluency: fluency,
          isFlagged:
            element.querySelector(".btn").textContent.trim() === "Offensive!",
          context: contextValue,
        };

        rankings.push(answerObject);
      });

      if (hasInvalidValue) {
        // If there are invalid values, prevent form submission
        return;
      }

      const data = {
        questionId,
        rankings,
      };

      if (shouldSubmit) {

        const response = await fetch(`/api/v1/questions/store_answer_ranks`, {
          method: "POST",
          headers: {
            "content-type": "application/json",
            Authorization: `Bearer ${token}`,
          },
          body: JSON.stringify(data),
        });


        const responseData = await response.json();
        console.log(response)
        if (response.ok) {
          alert("Ranked successfully")
          window.location.reload();
          window.location.href = window.location.href;
        } else {
          errorMessage.textContent = responseData.error;
          alert(responseData.error || "Failed to submit your ranks due to a connection error, please try again")
        }
      } else {
        reloadPage()
      }
    });
  });
</script>
<script>
  function toggleButtonText(index) {
    var button = document.getElementById(`toggleButton_${index}`);
    var svg = button.querySelector("svg");

    if (button.textContent.trim() === "Flag") {
      button.textContent = " Offensive!";
      button.style.backgroundColor = "red";
    } else {
      button.textContent = " Flag";
      button.style.backgroundColor = "#6bc46d";
    }
    button.insertBefore(svg, button.firstChild);
  }
</script>
<script>
  var acc = document.getElementsByClassName("accordion");
  var i;

  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function () {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.maxHeight) {
        panel.style.maxHeight = null;
      } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
      }
    });
  }
</script>
<style>
  .accordion {
    background-color: #d8f3dc;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    /* outline: none; */
    transition: 0.4s;
  }

  .active,
  .accordion:hover {
    background-color: #b7e4c7;
  }

  .accordion:after {
    content: "\002B";
    color: blue;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }

  .vert:after {
    content: "\2193";
    font-weight: bold;
    font-size: 44px;
    color: #007bff;
    cursor: pointer;
  }

  .active:after {
    content: "\2212";
  }

  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .my-element:after {
    content: none;
    /* Or content: ""; */
  }

  .radioButtn {
    font-size: 1rem;
    font-weight: 600;
    padding-top: 2.3rem !important;
  }

  label {
    display: inline-block;
    width: 30px;
    height: 25px;
    background-color: #a9d6e5;
    border: 1px solid #61a5c2;
    border-radius: 4px;
    text-align: center;
    line-height: 25px;
    cursor: pointer;
  }

  table tr td:not(:first-child) {
    max-width: 6rem;
  }
</style>
<script>
  var container = document.querySelector(".accordion-container");
  var accordions = container.querySelectorAll(".vert");

  accordions.forEach(function (acc) {
    acc.addEventListener("click", function () {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;

      if (panel.style.maxHeight) {
        panel.style.maxHeight = null;
      } else {
        panel.style.maxHeight = panel.scrollHeight + 20 + "px";
      }
    });
  });
  var firstAccordion = accordions[0];
  var firstPanel = firstAccordion.nextElementSibling;
  firstAccordion.classList.add("active");
  firstPanel.style.maxHeight = firstPanel.scrollHeight + 150 + "px";
</script>
{% endblock %}