{% extends "base.html" %} {% block title %}Experts Review Question Page{%
endblock %} {% block content %}

<div
  class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header"
>
  <div class="app-header header-shadow">
    <div class="app-header__logo">
      <div class="" id=""></div>
      <div class="header__pane ml-auto"></div>
    </div>
    <div class="app-header__mobile-menu"></div>
    <div class="app-header__menu"></div>
    <div class="app-header__content">
      <div class="app-header-right">
        <div class="header-btn-lg pr-0">
          <div class="widget-content p-0">
            <div class="widget-content-wrapper">
              <div class="widget-content-left ml-3 header-user-info">
                <div class="widget-heading" id="user-info"></div>
                <div class="widget-subheading">Expert</div>
              </div>
              <div class="widget-content-right header-user-info ml-3">
                <button
                  type="button"
                  class="btn-shadow p-1 btn btn-primary btn-sm"
                  id="logoutButton"
                >
                  Logout
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui-theme-settings">
    <div class="theme-settings__inner">
      <div class="scrollbar-container">
        <div class="theme-settings__options-wrapper">
          <h3 class="themeoptions-heading">Layout Options</h3>
          <div class="p-3">
            <ul class="list-group">
              <li class="list-group-item">
                <div class="widget-content p-0">
                  <div class="widget-content-wrapper">
                    <div class="widget-content-left mr-3">
                      <div
                        class="switch has-switch switch-container-class"
                        data-class="fixed-header"
                      >
                        <div class="switch-animate switch-on">
                          <input
                            type="checkbox"
                            checked
                            data-toggle="toggle"
                            data-onstyle="success"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="widget-content-left">
                      <div class="widget-heading">Fixed Header</div>
                      <div class="widget-subheading">
                        Makes the header top fixed, always visible!
                      </div>
                    </div>
                  </div>
                </div>
              </li>

              <li class="list-group-item">
                <div class="widget-content p-0">
                  <div class="widget-content-wrapper">
                    <div class="widget-content-left mr-3">
                      <div
                        class="switch has-switch switch-container-class"
                        data-class="fixed-footer"
                      >
                        <div class="switch-animate switch-off">
                          <input
                            type="checkbox"
                            data-toggle="toggle"
                            data-onstyle="success"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="widget-content-left">
                      <div class="widget-heading">Fixed Footer</div>
                      <div class="widget-subheading">
                        Makes the app footer bottom fixed, always visible!
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="p-3">
            <ul class="list-group">
              <li class="list-group-item">
                <h5 class="pb-2">Page Section Tabs</h5>
                <div class="theme-settings-swatches">
                  <div role="group" class="mt-2 btn-group">
                    <button
                      type="button"
                      class="btn-wide btn-shadow btn-primary btn btn-secondary switch-theme-class"
                      data-class="body-tabs-line"
                    >
                      Line
                    </button>
                    <button
                      type="button"
                      class="btn-wide btn-shadow btn-primary active btn btn-secondary switch-theme-class"
                      data-class="body-tabs-shadow"
                    >
                      Shadow
                    </button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="app-main text-responsive">
    <div class="app-main__outer">
      <div class="app-main__inner">
        <div class="row">
          <div class="col-9 col-sm-12">
            <ul class="nav nav-pills nav-fill">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  style="font-size: 1.5rem"
                  href="{{ url_for('web.main_review') }}"
                  >Review Questions</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link text-success"
                  style="font-size: 1.5rem"
                  href="{{ url_for('web.main_answer') }}"
                  >Answer Questions</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link text-success"
                  style="font-size: 1.5rem"
                  href="{{ url_for('web.main_rank') }}"
                  >Rank Answers</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-12 card">
            <h1 class="text-center fs-4">Question Evaluation</h1>
            <form id="signUpForm" class="border border-dark">
              <div class="form-header d-flex mb-4 font-weight-bold h3">
                <span class="stepIndicator font-weight-bold">Agriculture</span>
                <span class="stepIndicator font-weight-bold"
                  >Clarity/Grammar</span
                >
                <span class="stepIndicator font-weight-bold">Topic</span>
              </div>
              <div class="step">
                <div
                  class="card mb-3 ml-3 col-11 text-left text-dark font-weight-bold mx-4 my-4 p-2 shadow-none"
                >
                  <div class="text-center text-primary h2 font-weight-bold">
                    Instructions:
                  </div>
                  <p class="h3">1. Read the Question.</p>
                  <p class="h3">
                    2. If the question is related to agriculture, click
                    <strong>"Next."</strong>
                  </p>
                  <p class="h3">
                    3. If the question is not related to agriculture, click
                    <strong>"No."</strong>
                  </p>
                </div>
                <div class="mb-3">
                  <div class="h4 text-dark font-weight-bold">
                    <span class="text-primary mr-3">Question:</span
                    ><span id="oneQuestion" class="h2 font-weight-bold"></span>
                  </div>
                </div>
              </div>

              <!-- step two -->
              <div class="step">
                <div
                  class="card mb-3 ml-3 col-11 text-left font-weight-bold text-dark mx-4 my-4"
                >
                  <p class="text-center text-primary h2 font-weight-bold">
                    Instructions:
                  </p>
                  <p class="h3">
                    1. Determine if the question is clear and grammatically
                    correct.
                  </p>
                  <p class="h3">
                    2. If the question is clear and grammatically correct, click
                    <strong>"Next."</strong>
                  </p>
                  <p class="h3">
                    3. If the question needs improvement, rewrite it correctly
                    it to improve clarity and grammar.
                  </p>
                  <p class="h3">4. Click <strong>Next.</strong></p>
                </div>
                <div class="mb-3">
                  <div class="h4 text-dark font-weight-bold">
                    <span class="text-primary mr-3">Question:</span
                    ><span id="oneQuestion1" class="h2 font-weight-bold"></span>
                  </div>
                </div>
                <div class="mb-3">
                  <input
                    type="text"
                    name="rephrased"
                    id="rephrased"
                    class="border border-dark h3"
                    placeholder="Rephrase the question here."
                  />
                </div>
              </div>

              <!-- step three -->
              <div class="step">
                <div
                  class="card mb-3 ml-3 col-11 text-left font-weight-bold text-dark mx-4 my-4 border"
                >
                  <p class="text-center text-primary h3 font-weight-bold">
                    Instructions:
                  </p>
                  <p class="h3">
                    1. Determine if the topic accurately represents the
                    question.
                  </p>
                  <p class="h3">
                    2. If accurate, click the <strong>"Submit"</strong> button
                    below.
                  </p>
                  <p class="h3">
                    3. If inaccurate or not provided, select an accurate topic
                    from the dropdown menu.
                  </p>
                  <p class="h3">
                    4. After selecting the correct topic, click the
                    <strong>"Submit"</strong> button.
                  </p>
                </div>
                <div class="h4 text-dark pb-2">
                  <div class="h4 text-dark font-weight-bold mb-3">
                    <span class="text-primary mr-3 h2 font-weight-bold"
                      >Question:</span
                    ><span id="oneQuestion2" class="h2 font-weight-bold"></span>
                  </div>
                  <hr class="hr" />
                  <div class="h4 text-dark font-weight-bold mb-3">
                    <span class="text-primary mr-3 h2 font-weight-bold"
                      >Topic:</span
                    ><strong
                      id="questionTopic"
                      class="h2 font-weight-bold"
                    ></strong>
                  </div>
                  <span class="text-primary mr-3 h2 font-weight-bold"
                    >Category:</span
                  ><span
                    id="questionCategory"
                    class="h2 font-weight-bold"
                    style="text-transform: capitalize"
                  ></span>
                  &nbsp;
                  <span class="text-primary mr-3 h2 font-weight-bold"
                    >Sub Category:</span
                  ><span
                    id="actualItem"
                    class="h2 font-weight-bold"
                    style="text-transform: capitalize"
                  ></span>
                </div>
                <hr class="hr" />
                <div id="selectedTopics">
                  <h4 class="text-primary font-weight-bold h3">
                    Tag additional topics for this question:
                  </h4>
                </div>

                <div class="h4 text-dark font-weight-bold mb-5"></div>
                <div class="mb-5 h4" id="topicForm">
                  <div>
                    <label for="topics" class="font-weight-bold"
                      >Select Topic:</label
                    >
                    <select
                      id="topics"
                      class="select m-2"
                      onchange="populateSubTopics()"
                    >
                      <option value="">Select a Topic</option>
                      <!-- <option value="Soil Preparation">Soil Preparation</option>
                      <option value="Planting">Planting</option>
                      <option value="Crop Management">Crop Management</option>
                      <option value="Harvesting">Harvesting</option>
                      <option value="Marketing and Sales">
                        Marketing and Sales
                      </option>
                      <option value="Crop Diversity">Crop Diversity</option>
                      <option value="Genetically Modified Crops (GMOs)">
                        Genetically Modified Crops (GMOs)
                      </option>
                      <option value="Integrated Pest Management (IPM)">
                        Integrated Pest Management (IPM)
                      </option>
                      <option
                        value="Climate and Weather Impacts on Crop Farming"
                      >
                        Climate and Weather Impacts on Crop Farming
                      </option>
                      <option value="Sustainable Agriculture">
                        Sustainable Agriculture
                      </option>
                      <option value="Equipment and Technology">
                        Equipment and Technology
                      </option>
                      <option value="Government Policies and Programs">
                        Government Policies and Programs
                      </option> -->
                    </select>
                  </div>
                  <div class="d-flex align-items-baseline">
                    <label for="subTopics" class="font-weight-bold"
                      >Select Sub-Topic:</label
                    >
                    <select id="subTopics" class="select m-2">
                      <option value="">Select a Sub-Topic</option>
                    </select>
                    <div class="m-1 ml-5">
                      <button
                        type="button"
                        onclick="addSelectedTopic()"
                        class="btn btn-primary"
                      >
                        Add Selected Topic
                      </button>
                    </div>
                  </div>

                  <div>
                    <div class="font-weight-bold">Selected Topics:</div>
                    <ul id="selectedTopicsList"></ul>
                  </div>
                </div>
              </div>

              <!-- start previous / next buttons -->
              <div class="form-footer d-flex">
                <button
                  type="button"
                  id="prevBtn"
                  onclick="nextPrev(-1)"
                  class="bg-warning font-weight-bold text-white"
                >
                  Previous
                </button>
                <button
                  type="button"
                  id="nextBtn"
                  onclick="nextPrev(1)"
                  class="font-weight-bold"
                >
                  Next
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="app-wrapper-footer">
        <div class="app-footer">
          <div class="app-footer__inner">
            <div class="app-footer-left">
              <ul class="nav">
                <li class="nav-item">
                  <a href="https://air.ug" class="nav-link"> air.ug </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function getValueFromLocalStorage(key, defaultValue) {
    const storedValue = localStorage.getItem(key);
    return storedValue ? storedValue : defaultValue;
  }

  // Retrieve values from localStorage or use default values
  const token = getValueFromLocalStorage("token", "{{ token }}");
  const user = getValueFromLocalStorage("user", "{{ user }}");
  const role = getValueFromLocalStorage("role", "{{ role }}");
  const language = getValueFromLocalStorage("language", "{{ language }}");
  const category = getValueFromLocalStorage("category", "{{ category }}");
  const sub_category = getValueFromLocalStorage(
    "sub_category",
    "{{ sub_category }}"
  );

  // Update localStorage with the current values
  localStorage.setItem("token", token);
  localStorage.setItem("user", user);
  localStorage.setItem("role", role);
  localStorage.setItem("language", language);
  localStorage.setItem("category", category);
  localStorage.setItem("sub_category", sub_category);

  const userElement = document.getElementById("user-info");
  var currentTab = 0;

  // Retrieve data from local storage
  const storedUser = localStorage.getItem("user");

  if (storedUser) {
    userElement.textContent = storedUser;
  } else {
    userElement.textContent = Expert;
  }
  function logout() {
    // Clear the user token from localStorage
    localStorage.clear();

    // Redirect to the index.html page
    window.location.href = "/"; // Redirect to the index page
  }

  function reload() {
    window.location.reload();
  }

  // Attach the logout function to the logout button/link
  const logoutButton = document.getElementById("logoutButton");
  if (logoutButton) {
    logoutButton.addEventListener("click", logout);
  }

  function fixStepIndicator(n) {
    var i,
      x = document.getElementsByClassName("stepIndicator");
    for (i = 0; i < x.length; i++) {
      x[i].className = x[i].className.replace(" active", "");
    }
    x[n].className += " active";
  }
  function showTab(n) {
    var x = document.getElementsByClassName("step");
    x[n].style.display = "block";

    var prevBtn = document.getElementById("prevBtn");
    if (n == 0) {
      prevBtn.innerHTML = "No";
      prevBtn.setAttribute("onclick", "nextPrev(-1, true)");
    } else {
      prevBtn.innerHTML = "Previous";
      prevBtn.setAttribute("onclick", "nextPrev(-1, false)");
    }

    var nextBtn = document.getElementById("nextBtn");
    if (n == x.length - 1) {
      nextBtn.innerHTML = "Submit";
    } else {
      nextBtn.innerHTML = "Next";
    }

    fixStepIndicator(n);
  }

  function nextPrev(n) {
    var x = document.getElementsByClassName("step");
    if (n == 1 && !true) return false;
    x[currentTab].style.display = "none";
    currentTab = currentTab + n;
    if (currentTab >= x.length) {
      submitForm();
      // document.getElementById("signUpForm").submit();

      return false;
    }
    showTab(currentTab);
  }

  const mytoken = localStorage.getItem("token");
  let rephrased = document.getElementById("rephrased");
  let displayValue = document.getElementById("displayValue");
  let questio = document.getElementById("oneQuestion2");
  rephrased.addEventListener("input", function () {
    displayValue.textContent = rephrased.value;
    // questio.textContent = ''
  });

  function toggleTopics() {
    const topicType = document.querySelector(
      'input[name="topicType"]:checked'
    ).value;
    const plantTopics = document.getElementById("plantTopics");
    const animalTopics = document.getElementById("animalTopics");

    if (topicType === "Plant") {
      plantTopics.style.display = "block";
      animalTopics.style.display = "none";
    } else {
      plantTopics.style.display = "none";
      animalTopics.style.display = "block";
    }
  }

  const topicTypeRadios = document.querySelectorAll('input[name="topicType"]');
  topicTypeRadios.forEach((radio) => {
    radio.addEventListener("change", toggleTopics);
  });

  async function submitForm() {
    event.preventDefault();

    var form = document.getElementById("signUpForm");
    var formData = new FormData(form);

    let questionId2 = parseInt(form.getAttribute("data-question-id"));
    const rephrased = document.getElementById("rephrased");
    const displayValue = document.getElementById("displayValue");

    const formx = document.getElementById("topicForm");
    const selectedTopicsList = document.getElementById("selectedTopicsList");
    // const checkboxes = formx.querySelectorAll('input[type="checkbox"]:checked');

    let my_topics = [];
    let selectedTopicsString = "";

    let listItems = selectedTopicsList.querySelectorAll("li");

    let values = [];

    listItems.forEach((item) => {
      values.push(item.textContent.replace("Remove", "").trim()); // Remove 'Remove' and trim extra whitespace.
    });

    const commaSeparatedString = values.join(", ");

    let itemBody = {};

    if (rephrased && commaSeparatedString) {
      
      itemBody = {
        rephrased: rephrased.value,
        topic: commaSeparatedString,
      };
    } else if (rephrased) {
      
      itemBody = {
        rephrased: rephrased.value,
      };
    } else if (commaSeparatedString) {
      
      itemBody = {
        topic: commaSeparatedString,
      };
    }

    try {
      const response = await fetch(
        `/api/v1/questions/question_review/${questionId2}`,
        {
          method: "PUT",
          headers: {
            "content-type": "application/json",
            Authorization: `Bearer ${mytoken}`,
          },
          body: JSON.stringify(itemBody),
        }
      );

      const responseData = await response.json();
      if (response) {
        window.location.reload();
        // window.location.href = window.location.href;
      } else {
        errorMessage.textContent = responseData.error;
      }
    } catch (error) {
      console.error("Error parsing response:", error);
    }
  }

  document.addEventListener("DOMContentLoaded", function () {
    // Get the token from local storage
    const token = localStorage.getItem("token");
    const language = localStorage.getItem("language");
    const category = localStorage.getItem("category");
    const sub_category = localStorage.getItem("sub_category");

    function showFormWithQuestionId(questionId) {
      // Display the form and set the question ID as a data attribute
      var form = document.getElementById("signUpForm");
      form.style.display = "block";
      form.setAttribute("data-question-id", questionId);
    }
    // Current tab is set to be the first tab (0)
    showTab(currentTab); // Display the current tab

    let userDetails = {
      category: category,
      language: language,
      sub_category: sub_category,
    };

    fetch("/api/v1/questions/main_question_review", {
      method: "POST",
      headers: {
        "content-type": "application/json",
        Authorization: `Bearer ${token}`,
      },
      body: JSON.stringify(userDetails),
    })
      .then((response) => response.json())
      .then((randomQuestion) => {
        console.log(randomQuestion);
        if (randomQuestion.message === "No questions available.") {
          let oneQuestion = document.getElementById("oneQuestion");
          oneQuestion.textContent = "No questions available.";
        }
        const anyQuestion = randomQuestion.find(
          (question) => question.question_language === "Any Language"
        );
        const oneQuestion = document.getElementById("oneQuestion");
        oneQuestion.textContent = anyQuestion.sentence;
        const oneQuestion1 = document.getElementById("oneQuestion1");
        oneQuestion1.textContent = anyQuestion.sentence;
        const oneQuestion2 = document.getElementById("oneQuestion2");
        oneQuestion2.textContent = anyQuestion.sentence;
        const questionTopic = document.getElementById("questionTopic");
        questionTopic.textContent = anyQuestion.topics
          ? anyQuestion.topics
          : "No Topic";
        const questionCategory = document.getElementById("questionCategory");
        questionCategory.textContent = anyQuestion.category
          ? anyQuestion.category
          : "No Category";
        const actualItem = document.getElementById("actualItem");
        actualItem.textContent = anyQuestion.animal_crop;
        var questionId = anyQuestion.id;
        // console.log(questionId);
        showFormWithQuestionId(questionId);
        const incorrectQuestion = document.getElementById("prevBtn");
        if (incorrectQuestion) {
          incorrectQuestion.addEventListener("click", async function (event) {
            event.preventDefault();
            let questionId1 = parseInt(questionId);
            // console.log(questionId1);
            if (prevBtn.innerHTML === "No") {
              await updateQuestion(questionId1);
            }
          });
        }
      })
      .catch((error) => console.error(error));

    function updateQuestion(questionId) {
      const response = fetch(`/api/v1/questions/incorrect/${questionId}`, {
        method: "PUT",
        headers: {
          Authorization: `Bearer ${token}`,
        },
      })
        .then((response) => response.json())
        .then((responseData) => {
          if (response) {
            window.location.reload();
          } else {
            console.error("Error updating question:");
          }
        })
        .catch((error) => console.error("Error parsing response:", error));
    }
  });
</script>
<script>
  function getSelectedCategory() {
    const selectedCategory = localStorage.getItem("category");
    return selectedCategory;
  }

  function populateSubTopics() {
    const selectedCategory = getSelectedCategory();
    const topicsSelect = document.getElementById("topics").value;
    const subTopicsSelect = document.getElementById("subTopics");

    // const selectedTopic = topicsSelect.value;
    subTopicsSelect.innerHTML = "";

    if (selectedCategory !== "" && topicsSelect !== "") {
      const subTopics = categories[selectedCategory][topicsSelect];
      subTopics.forEach((subTopic) => {
        const option = document.createElement("option");
        option.value = subTopic;
        option.textContent = subTopic;
        subTopicsSelect.appendChild(option);
      });
    } else {
      const option = document.createElement("option");
      option.value = "";
      option.textContent = "Select a Sub-Topic";
      subTopicsSelect.appendChild(option);
    }
  }

  function populateTopics() {
    let selectedCategory = getSelectedCategory();
    console.log(selectedCategory);
    const topicsSelect = document.getElementById("topics");
    topicsSelect.innerHTML = "";

    for (const topic in categories[selectedCategory]) {
      const option = document.createElement("option");
      option.value = topic;
      option.textContent = topic;
      topicsSelect.appendChild(option);
    }
    populateSubTopics();
  }

  const selectedTopics = [];

  function addSelectedTopic() {
    event.preventDefault();

    const topicsSelect = document.getElementById("topics");
    const selectedTopic = topicsSelect.value;
    const selectedSubTopic = document.getElementById("subTopics").value;

    if (selectedTopic !== "" && selectedSubTopic !== "") {
      selectedTopics.push({ topic: selectedTopic, subTopic: selectedSubTopic });
      updateSelectedTopicsList();
      resetSelections();
    }
  }

  function updateSelectedTopicsList() {
    const selectedTopicsList = document.getElementById("selectedTopicsList");
    selectedTopicsList.innerHTML = "";

    selectedTopics.forEach((topicObj) => {
      const listItem = document.createElement("li");
      listItem.textContent = `${topicObj.topic} - ${topicObj.subTopic}`;
      const removeButton = document.createElement("button");
      removeButton.textContent = "Remove";
      removeButton.classList.add("remove-button-class");
      removeButton.addEventListener("click", () =>
        removeSelectedTopic(topicObj)
      );
      listItem.appendChild(removeButton);
      selectedTopicsList.appendChild(listItem);
    });
  }

  function removeSelectedTopic(topicObj) {
    const index = selectedTopics.indexOf(topicObj);
    if (index !== -1) {
      selectedTopics.splice(index, 1);
      updateSelectedTopicsList();
    }
  }

  function resetSelections() {
    document.getElementById("topics").value = "";
    document.getElementById("subTopics").value = "";
  }

  const categories = {
    crop: {
      "Soil Preparation": [
        "Digging/ Cultivation",
        "Fertilization",
        "Irrigation",
        "Soil Testing",
        "Soil sterilization/steaming",
        "Organic Farming practices",
      ],
      Planting: [
        "Seed Selection",
        "Seed Treatment",
        "Timing of planting",
        "Planting Methods",
        "Transplanting",
        "Intercropping",
        "Companion Planting",
      ],
      "Crop Management": [
        "Pest Management",
        "Disease Management",
        "Nutrient Management",
        "Water Management",
        "Weed Control",
        "Crop Rotation",
        "Mulching",
        "Pruning and Thinning",
      ],
      Harvesting: [
        "Timing of Harvest",
        "Harvesting Techniques",
        "PostHarvest Handling techniques",
        "Storage and Preservation",
        "Grading and Sorting",
        "Mechanical Harvesting",
      ],
      "Marketing and Sales": [
        "Market Research",
        "Branding",
        "Packaging and Labeling",
        "Distribution and Transportation",
        "Direct Sales",
        "Contract Farming",
        "ValueAdded Products",
      ],
      "Crop Diversity": [
        "Monoculture vs. Polyculture",
        "Horticulture",
        "Specialty Crops",
        "Crop Rotation Strategies",
        "Risk Management",
        "Crop Diversity benefits",
        "Sustainable Agriculture Practices",
      ],
      "Genetically Modified Crops (GMOs)": [
        "History and Controversy",
        "Creation of GMOs",
        "Pros and Cons of GMOs",
        "Regulation and Labeling",
        "Biotechnology in Agriculture",
        "Future use GMOs",
      ],
      "Integrated Pest Management (IPM)": [
        "Principles and Components",
        "Biological Controls",
        "Weed Controls",
        "Cultural Controls",
        "Mechanical and Physical Controls",
        "Chemical Controls",
        "IPM products",
        "IPM in Practice",
      ],
      "Climate and Weather Impacts on Crop Farming": [
        "Effects of Temperature and Precipitation",
        "Drought and Water Scarcity",
        "Extreme Weather Events",
        "Changing Seasons and Growing Periods",
        "Adapting to Climate Change",
        "Resilience in Crop Farming",
      ],
      "Sustainable Agriculture": [
        "Principles of Sustainability",
        "Conservation Practices",
        "Soil Health and Erosion Control",
        "Water Conservation and Management",
        "Biodiversity Conservation",
        "Economic and Social Sustainability",
      ],
      "Equipment and Technology": [
        "Tractors and Implements",
        "Precision Agriculture Tools",
        "GPS and GIS Mapping",
        "Irrigation Systems",
        "Harvesting Machinery",
        "Farm Management Software",
      ],
      "Government Policies and Programs": [
        "Agricultural Subsidies",
        "Crop Insurance",
        "Conservation Programs",
        "Trade Policies",
        "Farm Bill",
        "Agricultural Research and Development",
      ],
    },
    animal: {
      "Livestock selection and breeding": [
        "Animal characteristics and traits",
        "Genetic testing and selection",
        "Breeding methods",
        "Healthy breeding herd",
        "Recordkeeping for breeding",
        "Artificial insemination",
      ],
      "Animal housing and facilities": [
        "Livestock housing design",
        "Types of housing",
        "Ventilation and temperature",
        "Sanitation and waste management",
        "Fencing and gate maintenance",
        "Animal welfare considerations",
      ],
      "Feed and nutrition": [
        "Nutrient requirements",
        "Types of feed",
        "Feed storage and management",
        "Grazing management",
        "Managing feed costs",
        "Preventing nutritional deficiencies",
      ],
      "Health and disease management": [
        "Vaccinations and preventative care ",
        "Parasite control",
        "Biosecurity measures",
        "Quarantine procedures",
        "Disease diagnosis and treatment",
        "Veterinary care",
      ],
      "Reproduction and birthing": [
        "Breeding and reproduction management",
        "Pregnancy and gestation care",
        "Parturition and labor assistance",
        "Calf and lamb care",
        "Post-birth care for dams",
        "Reproductive health management",
      ],
      "Pasture and grazing management": [
        "Rotational grazing systems",
        "Pasture renovation and maintenance",
        "Managing forage species",
        "Grazing strategies",
        "Soil health and fertility",
        "Utilizing alternative forages",
      ],
      "Handling and husbandry practices": [
        "Training for safe handling",
        "Proper animal restraint",
        "Identifying and treating injuries",
        "Managing difficult animals",
        "Behavioral management",
        "Low-stress animal handling",
      ],
      "Marketing and sales": [
        "Target markets",
        "Buyer relationships",
        "Price strategies",
        "Packaging and labeling",
        "Marketing plan",
        "Direct sales",
      ],
      "Technology in animal farming": [
        "Drones and GPS",
        "Sensor monitoring",
        "Digital record-keeping",
        "Precision feeding",
        "Efficient animal care",
        "Animal welfare tech",
      ],
      "Sustainable animal farming practices": [
        "Alternative housing methods",
        "Conservation grazing",
        "Renewable resources",
        "Composting and waste",
        "Sustainable standards",
        "Environmental impact",
      ],
      "Animal transportation and handling": [
        "Transport Regulations",
        "Loading and unloading",
        "Animal welfare",
        "Transportation vehicles",
        "Handling procedures",
        "Documentation and records",
      ],
      "Business management for animal farming": [
        "Financial planning",
        "Cash flow management",
        "Book keeping",
        "Risk management",
        "Employee management",
        "Business evaluation",
      ],
    },
  };
  window.addEventListener("load", populateTopics);
</script>
{% endblock %}
