{% extends "base.html" %} {% block title %}Experts Dash Page{% endblock %} {%
block content %}

<div
  class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header"
>
  <div class="app-header header-shadow">
    <div class="app-header__logo">
      <div class="" id=""></div>
      <div class="header__pane ml-auto"></div>
    </div>
    <div class="app-header__mobile-menu"></div>
    <div class="app-header__menu"></div>
    <div class="app-header__content">
      <div class="app-header-right">
        <div class="header-btn-lg pr-0">
          <div class="widget-content p-0">
            <div class="widget-content-wrapper">
              <div class="widget-content-left ml-3 header-user-info">
                <div class="widget-heading">
                  {% if session.username %} {{ session.username }} {% else %}
                  <script>
                    var usernameFromLocalStorage =
                      localStorage.getItem("username");
                    document.write(usernameFromLocalStorage);
                  </script>
                  {% endif %}
                </div>
                <div class="widget-subheading">
                  {% if session.role %} {{ session.role }} {% else %}
                  <script>
                    var roleFromLocalStorage = localStorage.getItem("role");
                    document.write(roleFromLocalStorage);
                  </script>
                  {% endif %}
                </div>
              </div>
              <div class="widget-content-right header-user-info ml-3">
                <button
                  type="button"
                  class="btn-shadow p-1 btn btn-primary btn-sm"
                  id="logoutButton"
                >
                  Logout
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui-theme-settings">
    <div class="theme-settings__inner">
      <div class="scrollbar-container">
        <div class="theme-settings__options-wrapper">
          <h3 class="themeoptions-heading">Layout Options</h3>
          <div class="p-3">
            <ul class="list-group">
              <li class="list-group-item">
                <div class="widget-content p-0">
                  <div class="widget-content-wrapper">
                    <div class="widget-content-left mr-3">
                      <div
                        class="switch has-switch switch-container-class"
                        data-class="fixed-header"
                      >
                        <div class="switch-animate switch-on">
                          <input
                            type="checkbox"
                            checked
                            data-toggle="toggle"
                            data-onstyle="success"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="widget-content-left">
                      <div class="widget-heading">Fixed Header</div>
                      <div class="widget-subheading">
                        Makes the header top fixed, always visible!
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="widget-content p-0">
                  <div class="widget-content-wrapper">
                    <div class="widget-content-left mr-3">
                      <div
                        class="switch has-switch switch-container-class"
                        data-class="fixed-sidebar"
                      >
                        <div class="switch-animate switch-on">
                          <input
                            type="checkbox"
                            checked
                            data-toggle="toggle"
                            data-onstyle="success"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="widget-content-left">
                      <div class="widget-heading">Fixed Sidebar</div>
                      <div class="widget-subheading">
                        Makes the sidebar left fixed, always visible!
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="widget-content p-0">
                  <div class="widget-content-wrapper">
                    <div class="widget-content-left mr-3">
                      <div
                        class="switch has-switch switch-container-class"
                        data-class="fixed-footer"
                      >
                        <div class="switch-animate switch-off">
                          <input
                            type="checkbox"
                            data-toggle="toggle"
                            data-onstyle="success"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="widget-content-left">
                      <div class="widget-heading">Fixed Footer</div>
                      <div class="widget-subheading">
                        Makes the app footer bottom fixed, always visible!
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="p-3">
            <ul class="list-group">
              <li class="list-group-item">
                <h5 class="pb-2">Page Section Tabs</h5>
                <div class="theme-settings-swatches">
                  <div role="group" class="mt-2 btn-group">
                    <button
                      type="button"
                      class="btn-wide btn-shadow btn-primary btn btn-secondary switch-theme-class"
                      data-class="body-tabs-line"
                    >
                      Line
                    </button>
                    <button
                      type="button"
                      class="btn-wide btn-shadow btn-primary active btn btn-secondary switch-theme-class"
                      data-class="body-tabs-shadow"
                    >
                      Shadow
                    </button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="app-main">
    <div class="app-main__outer">
      <div class="app-main__inner">
        <div class="row">
          <div class="col-md-9">
            <ul class="nav nav-pills nav-fill">
              <li class="nav-item">
                <a
                  class="nav-link text-success"
                  href="{{ url_for('web.expert_dashoard') }}"
                  >Review Questions</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link text-success"
                  href="{{ url_for('web.answer_questions') }}"
                  >Answer Questions</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link active"
                  href="{{ url_for('web.rank_answers') }}"
                  >Rank Answers</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="main-card mb-3 card">
              <div class="justify-content-center ">
                <form id="rank-form" class="py-5 px-5">
                  <fieldset>
                    <div class="h3 text-success mt-1">Rank these answers.</div>
                    <ul class="list-group ">
                      <li class="list-group-item bg-success text-center">
                        What causes Cassava Mosaic?
                      </li>
                      <li class="list-group-item">
                        Black flies cause cassava mosaic
                        <input type="number" class="rank-input" disabled />
                      </li>
                      <li class="list-group-item">
                        Rotting of cassava roots cause Cassava mosaic
                        <input type="number" class="rank-input" />
                      </li>
                      <li class="list-group-item">
                        Intercropping with legumes causes cassava mosaic
                        <input type="number" class="rank-input" />
                      </li>
                      <li class="list-group-item">
                        Termites and rodents cause cassava mosaic
                        <input type="number" class="rank-input" />
                      </li>
                    </ul>
                    <button name="next" class="btn btn-primary mt-3">
                      Submit
                    </button>
                  </fieldset>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="app-wrapper-footer">
        <div class="app-footer">
          <div class="app-footer__inner">
            <div class="app-footer-left">
              <ul class="nav">
                <li class="nav-item">
                  <a href="https://air.ug" class="nav-link"> air.ug </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var current_fs, next_fs, previous_fs; // fieldsets
    var opacity;

    var nextButtons = document.querySelectorAll(".next");
    var previousButtons = document.querySelectorAll(".previous");
    var progressBarItems = document.querySelectorAll("#progressbar li");
    var radioButtons = document.querySelectorAll(".radio-group .radio");
    var submitButton = document.querySelector(".submit");

    nextButtons.forEach(function (button) {
      button.addEventListener("click", function () {
        current_fs = this.parentElement;
        next_fs = this.parentElement.nextElementSibling;

        progressBarItems[
          Array.from(document.querySelectorAll("fieldset")).indexOf(next_fs)
        ].classList.add("active");

        next_fs.style.display = "block";
        current_fs.style.opacity = 0;

        var animationInterval = setInterval(function () {
          opacity = parseFloat(current_fs.style.opacity);
          if (opacity <= 0) {
            clearInterval(animationInterval);
            current_fs.style.display = "none";
            next_fs.style.opacity = 1;
          } else {
            current_fs.style.opacity = (opacity - 0.05).toString();
          }
        }, 10);
      });
    });

    previousButtons.forEach(function (button) {
      button.addEventListener("click", function () {
        current_fs = this.parentElement;
        previous_fs = this.parentElement.previousElementSibling;

        progressBarItems[
          Array.from(document.querySelectorAll("fieldset")).indexOf(current_fs)
        ].classList.remove("active");

        previous_fs.style.display = "block";
        current_fs.style.opacity = 0;

        var animationInterval = setInterval(function () {
          opacity = parseFloat(current_fs.style.opacity);
          if (opacity <= 0) {
            clearInterval(animationInterval);
            current_fs.style.display = "none";
            previous_fs.style.opacity = 1;
          } else {
            current_fs.style.opacity = (opacity - 0.05).toString();
          }
        }, 10);
      });
    });

    radioButtons.forEach(function (radio) {
      radio.addEventListener("click", function () {
        var radioGroup = this.parentElement;
        radioGroup.querySelectorAll(".radio").forEach(function (radioItem) {
          radioItem.classList.remove("selected");
        });
        this.classList.add("selected");
      });
    });

    submitButton.addEventListener("click", function () {
      return false;
    });
  });
</script>

<script>
  function logout() {
    // Clear the user token from localStorage
    localStorage.clear();

    // Redirect to the index.html page
    window.location.href = "/"; // Redirect to the index page
  }

  // Attach the logout function to the logout button/link
  const logoutButton = document.getElementById("logoutButton");
  if (logoutButton) {
    logoutButton.addEventListener("click", logout);
  }

  document.addEventListener("DOMContentLoaded", function () {
    const token = localStorage.getItem("token"); // Get the token from local storage

    // Fetch top users data
    fetch("/api/v1/auth/farmers", {
      headers: {
        Authorization: `Bearer ${token}`,
      },
    })
      .then((response) => response.json())
      .then((topUsersData) => {
        const tableBody = document.querySelector(".farmers tbody");
        topUsersData.forEach((user, index) => {
          const tableRow = document.createElement("tr");
          tableRow.innerHTML = `
                  <td class="text-center text-muted">${user.user_id}</td>
                  <td>
                    <div class="widget-content p-0">
                      <div class="widget-content-wrapper">
                        <div class="widget-content-left flex2">
                          <div class="widget-heading">${user.firstname} ${user.lastname}</div>
                          <div class="widget-subheading opacity-7">${user.username}</div>
                        </div>
                      </div>
                    </div>
                  </td>
      
                  <td class="text-center">${user.phone_number}</td>
                  <td class="text-center">${user.location}</td>
                  <td class="text-center">${user.gender}</td>
                  <td class="text-center">
                    <div class="font-weight-bold" >${user.questions} </div>
                  </td>`;

          tableBody.appendChild(tableRow);
        });
      })
      .catch((error) => console.error("Error fetching top users data:", error));
  });
</script>
{% endblock %}
