{% extends "base.html" %} {% block title %}Experts Runyankole Rank Page{% endblock %} 
{% block content %}
  
<div
  class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header"
>
  <div class="app-header header-shadow">
    <div class="app-header__logo">
      <div class="" id=""></div>
      <div class="header__pane ml-auto"></div>
    </div>
    <div class="app-header__mobile-menu"></div>
    <div class="app-header__menu"></div>
    <div class="app-header__content">
      <div class="app-header-right">
        <div class="header-btn-lg pr-0">
          <div class="widget-content p-0">
            <div class="widget-content-wrapper">
              <div class="widget-content-left ml-3 header-user-info">
                <div class="widget-heading" id="user-info">
          
                </div>
                <div class="widget-subheading">
                  Expert
                </div>
              </div>
              <div class="widget-content-right header-user-info ml-3">
                <button
                  type="button"
                  class="btn-shadow p-1 btn btn-primary btn-sm"
                  id="logoutButton"
                >
                  Logout
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui-theme-settings">
    <div class="theme-settings__inner">
      <div class="scrollbar-container">
        <div class="theme-settings__options-wrapper">
          <h3 class="themeoptions-heading">Layout Options</h3>
          <div class="p-3">
            <ul class="list-group">
              <li class="list-group-item">
                <div class="widget-content p-0">
                  <div class="widget-content-wrapper">
                    <div class="widget-content-left mr-3">
                      <div
                        class="switch has-switch switch-container-class"
                        data-class="fixed-header"
                      >
                        <div class="switch-animate switch-on">
                          <input
                            type="checkbox"
                            checked
                            data-toggle="toggle"
                            data-onstyle="success"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="widget-content-left">
                      <div class="widget-heading">Fixed Header</div>
                      <div class="widget-subheading">
                        Makes the header top fixed, always visible!
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="widget-content p-0">
                  <div class="widget-content-wrapper">
                    <div class="widget-content-left mr-3">
                      <div
                        class="switch has-switch switch-container-class"
                        data-class="fixed-sidebar"
                      >
                        <div class="switch-animate switch-on">
                          <input
                            type="checkbox"
                            checked
                            data-toggle="toggle"
                            data-onstyle="success"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="widget-content-left">
                      <div class="widget-heading">Fixed Sidebar</div>
                      <div class="widget-subheading">
                        Makes the sidebar left fixed, always visible!
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="widget-content p-0">
                  <div class="widget-content-wrapper">
                    <div class="widget-content-left mr-3">
                      <div
                        class="switch has-switch switch-container-class"
                        data-class="fixed-footer"
                      >
                        <div class="switch-animate switch-off">
                          <input
                            type="checkbox"
                            data-toggle="toggle"
                            data-onstyle="success"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="widget-content-left">
                      <div class="widget-heading">Fixed Footer</div>
                      <div class="widget-subheading">
                        Makes the app footer bottom fixed, always visible!
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="p-3">
            <ul class="list-group">
              <li class="list-group-item">
                <h5 class="pb-2">Page Section Tabs</h5>
                <div class="theme-settings-swatches">
                  <div role="group" class="mt-2 btn-group">
                    <button
                      type="button"
                      class="btn-wide btn-shadow btn-primary btn btn-secondary switch-theme-class"
                      data-class="body-tabs-line"
                    >
                      Line
                    </button>
                    <button
                      type="button"
                      class="btn-wide btn-shadow btn-primary active btn btn-secondary switch-theme-class"
                      data-class="body-tabs-shadow"
                    >
                      Shadow
                    </button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="app-main">
    <div class="app-main__outer">
      <div class="app-main__inner">
        <a
            type="button"
            class="btn btn-warning mb-3"
            href="{{ url_for('web.dash') }}"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-arrow-bar-left"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5ZM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5Z"
              ></path>
            </svg>
            Back to Dashboard
          </a>
        <div class="row">
          <div class="col-9 col-sm-12">
            <ul class="nav nav-pills nav-fill">
              <li class="nav-item">
                <a
                  class="nav-link text-success"
                  style="font-size: 1.5rem"
                  href="{{ url_for('web.runyankole_review') }}"
                  >Review Questions</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link text-success"
                  style="font-size: 1.5rem"
                  href="{{ url_for('web.runyankole_answer') }}"
                  >Answer Questions</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link active"
                  style="font-size: 1.5rem"
                  href="{{ url_for('web.runyankole_rank') }}"
                  >Rank Answers</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="main-card mb-3 card">
              <div class="justify-content-center">
                <form id="rankForm" class="py-5 px-5">
                  <fieldset>
                    <div
                      class="card mb-3 ml-3 col-11 text-left text-dark font-weight-bold mx-4 my-4 p-2 shadow-none"
                    >
                      <div class="text-center text-primary h2 font-weight-bold">
                        Instructions:
                      </div>
                      <p class="h2 font-weight-bold">Answers will be ranked according to the following criteria:</p>
                      <p class="h4"><u><strong>Coherence</strong> - means the quality of being logical and consistent in terms of a answer.</u>
                          <p class="h4">A coherent answer should follow the topic, context, and structure of the input text or query. A coherent answer should also avoid repetition, contradiction, or irrelevant information.</p>
                      </p>
                      <p class="h4"><u><strong>Fluency</strong> - means the ability to use a language smoothly, accurately, and effortlessly in terms of an answer.</u>
                        <p class="h4">A fluent answer should follow the grammatical, syntactic, and lexical rules of the language, and avoid errors, pauses, or repetitions that may hinder the communication. A fluent answer should also convey the intended meaning and tone of the question.</p>
                      </p>
                      <p class="h4"><u><strong>Relevance</strong> - means the quality of being closely connected or appropriate in terms of an answer.</u>
                        <p class="h4">A relevant answer should match the question in terms of meaning, intention, and style. 
                          A relevant answer should also satisfy the information need or goal of the farmer.
                        </p>
                      </p>
                      <p class="h3 text-primary font-weight-bold">
                        Select the option that most accurately reflects your
                        level of agreement with the provided answers by rating
                        them on a scale of 1 to 5:
                      </p>
                      <p class="h4">1 = Strongly disagree</p>
                      <p class="h4">2 = Disagree</p>
                      <p class="h4">3 = Neither agree nor disagree</p>
                      <p class="h4">4 = Agree</p>
                      <p class="h4">5 = Strongly agree</p>
                      <p class="h3">
                        Note: You can assign the same value to multiple answers.
                      </p>
                    </div>
                    <div class="list-group-item bg-success text-center h2">
                      <strong id="oneQuestion"></strong>
                    </div>
                    <div class=" h3">
                      Topic:&nbsp;<strong id="questionTopic" class="text-capitalize text-primary"></strong>
                    </div>
                    <table class="table">
                      <thead>
                        <tr class="h4">
                          <th class="">
                            <u>Answers</u>
                          </th>
                          <th class="text-center" >
                            Relevance
                          </th>
                          <th class="text-center" >
                            Coherence
                          </th>
                          <th class="text-center">
                            Fluency
                          </th>
                      </thead>
                      <tbody id="answerTableBody">
                      </tbody>
                    </table>
                    
                    <div class="d-flex justify-content-between">
                      <button style="font-size: 1.5rem" class="btn btn-warning my-3" onclick="reloadPage()">
                        Skip
                      </button>
                      <button style="font-size: 1.5rem" class="btn btn-primary my-3" type="submit">
                        Submit
                      </button>
                    </div>
                  </fieldset>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="app-wrapper-footer">
        <div class="app-footer">
          <div class="app-footer__inner">
            <div class="app-footer-left">
              <ul class="nav">
                <li class="nav-item">
                  <a href="https://air.ug" class="nav-link"> air.ug </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const token = "{{ token }}";
  const user = "{{ user }}";
  const role = "{{ role }}";

  const userElement = document.getElementById("user-info");
  var currentTab = 0;

  // Retrieve data from local storage
  const storedUser = localStorage.getItem("user");

  if (storedUser) {
    userElement.textContent = storedUser;
  } else {
    userElement.textContent = Expert;
  }
  function logout() {
    // Clear the user token from localStorage
    localStorage.clear();

    // Redirect to the index.html page
    window.location.href = "/"; // Redirect to the index page
  }
  function reload() {
    window.location.reload();
  }
  function logout() {
    // Clear the user token from localStorage
    localStorage.clear();

    // Redirect to the index.html page
    window.location.href = "/"; // Redirect to the index page
  }
  let qnAnswers = [];

  document.addEventListener("DOMContentLoaded", function () {
    const token = localStorage.getItem("token");
    
    const logoutButton = document.getElementById("logoutButton");
    if (logoutButton) {
      logoutButton.addEventListener("click", logout);
    }

    function showFormWithQuestionId(questionId) {
      // Display the form and set the question ID as a data attribute
      var form = document.getElementById("rankForm");
      form.style.display = "block";
      form.setAttribute("data-question-id", questionId);
    }
  
    // Fetch top users data
    fetch("/api/v1/questions/answered_question_ranking", {
      headers: {
        Authorization: `Bearer ${token}`,
      },
    })
      .then((response) => response.json())
      .then((randomQuestion) => {
        if (randomQuestion.message === "No questions available with answers."){
          let oneQuestion = document.getElementById("oneQuestion");
          oneQuestion.textContent = "No questions available.";
        }
        let randomQuestionData = randomQuestion.random_question_data;
        const { answers, question} = englishQuestion
        qnAnswers = answers
        let oneQuestion = document.getElementById("oneQuestion");
        oneQuestion.textContent = question.sentence;
  
        let questionTopic = document.getElementById("questionTopic");
        questionTopic.textContent = question.topic
          ? question.topic
          : "No Topic";
        const tableBody = document.getElementById('answerTableBody');
        answers.forEach((answer, index) => {
          const newRow = document.createElement('tr');
          newRow.innerHTML = `
              <td class="h3">${answer.answer_text}</td>
              <td class="text-center">
                  <input
                      type="text"
                      class="rank-input form-control border border-dark mx-auto answer-rank"
                      style="width: 5rem"
                      maxlength="1"
                      onkeypress="return /^[1-5]$/i.test(event.key)"
                  />
              </td>
              <td class="text-center">
                  <input
                      type="text"
                      class="rank-input form-control border border-dark mx-auto answer-rank"
                      style="width: 5rem"
                      maxlength="1"
                      onkeypress="return /^[1-5]$/i.test(event.key)"
                  />
              </td>
              <td class="text-center">
                  <input
                      type="text"
                      class="rank-input form-control border border-dark mx-auto answer-rank"
                      style="width: 5rem"
                      maxlength="1"
                      onkeypress="return /^[1-5]$/i.test(event.key)"
                  />
              </td>
          `;
          tableBody.appendChild(newRow);
        })
        var questionId = question.id;
        showFormWithQuestionId(questionId);
      })
      .catch((error) => console.error("Error fetching question:"));
  });
</script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const form = document.getElementById("rankForm");
    const errorMessage = document.getElementById("errorMessage");
    const token = localStorage.getItem("token");

    rankForm.addEventListener("submit", async function (event) {
      event.preventDefault();
      var questionIdButton = this.getAttribute("data-question-id");
      let questionId = parseInt(questionIdButton);
      
      const answerElements = document.querySelectorAll('.answer-rank');
      const rankings = [];
      let currentAnswer = {};
      answerElements.forEach((element, index) => {
        if (index % 3 === 0) {
          if (currentAnswer.hasOwnProperty('answerText')) {
            rankings.push(currentAnswer);
          }
          currentAnswer = {
            answer_id : qnAnswers[rankings.length].id,
            answerText: qnAnswers[rankings.length].answer_text,
            relevance: null,
            coherence: null,
            fluency: null
          };
        }

        // Determine which field (relevance, coherence, fluency) this input belongs to
        if (index % 3 === 0) {
          currentAnswer.relevance = parseInt(element.value);
        } else if (index % 3 === 1) {
          currentAnswer.coherence = parseInt(element.value);
        } else if (index % 3 === 2) {
          currentAnswer.fluency = parseInt(element.value);
        }

        // If this is the last input field, push the answer to rankings
        if (index === answerElements.length - 1) {
          rankings.push(currentAnswer);
        }
      });
      console.log(rankings)

      // Prepare the data to send to the API
      const data = {
        questionId, 
        rankings
      };

      console.log(data)
      const response = await fetch(
        `/api/v1/questions/store_answer_ranks`,
        {
          method: "POST",
          headers: {
            "content-type": "application/json",
            Authorization: `Bearer ${token}`,
          },
          body: JSON.stringify(data),
        }
      );

      try {
        const responseData = await response.json();
        if (response.ok) {
          window.location.reload();
          window.location.href = window.location.href;
        } else {
          errorMessage.textContent = responseData.error;
        }
      } catch (error) {
        console.error("Error parsing response:");
      } finally {
        window.location.reload();
      }
    });
  });
</script>
{% endblock %}
  