{% extends "base.html" %} {% block title %}Experts Page{% endblock %} {% block
content %}

<div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
  <div class="app-header header-shadow">
    <div class="app-header__logo">
      <div class="" id=""></div>
      <div class="header__pane ml-auto"></div>
    </div>
    <div class="app-header__mobile-menu"></div>
    <div class="app-header__menu"></div>
    <div class="app-header__content">
      <div class="app-header-right">
        <div class="header-btn-lg pr-0">
          <div class="widget-content p-0">
            <div class="widget-content-wrapper">
              <div class="widget-content-left ml-3 header-user-info">
                <div class="widget-heading" id="user-info">{{ session.username }}</div>
                <div class="widget-subheading">Teacher</div>
              </div>
              <div class="widget-content-right header-user-info ml-3">
                <button type="button" class="btn-shadow p-1 btn btn-primary btn-sm" id="logoutButton">
                  Logout
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui-theme-settings">
    <div class="theme-settings__inner">
      <div class="scrollbar-container">
        <div class="theme-settings__options-wrapper">
          <h3 class="themeoptions-heading">Layout Options</h3>
          <div class="p-3">
            <ul class="list-group">
              <li class="list-group-item">
                <div class="widget-content p-0">
                  <div class="widget-content-wrapper">
                    <div class="widget-content-left mr-3">
                      <div class="switch has-switch switch-container-class" data-class="fixed-header">
                        <div class="switch-animate switch-on">
                          <input type="checkbox" checked data-toggle="toggle" data-onstyle="success" />
                        </div>
                      </div>
                    </div>
                    <div class="widget-content-left">
                      <div class="widget-heading">Fixed Header</div>
                      <div class="widget-subheading">
                        Makes the header top fixed, always visible!
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="widget-content p-0">
                  <div class="widget-content-wrapper">
                    <div class="widget-content-left mr-3">
                      <div class="switch has-switch switch-container-class" data-class="fixed-sidebar">
                        <div class="switch-animate switch-on">
                          <input type="checkbox" checked data-toggle="toggle" data-onstyle="success" />
                        </div>
                      </div>
                    </div>
                    <div class="widget-content-left">
                      <div class="widget-heading">Fixed Sidebar</div>
                      <div class="widget-subheading">
                        Makes the sidebar left fixed, always visible!
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="widget-content p-0">
                  <div class="widget-content-wrapper">
                    <div class="widget-content-left mr-3">
                      <div class="switch has-switch switch-container-class" data-class="fixed-footer">
                        <div class="switch-animate switch-off">
                          <input type="checkbox" data-toggle="toggle" data-onstyle="success" />
                        </div>
                      </div>
                    </div>
                    <div class="widget-content-left">
                      <div class="widget-heading">Fixed Footer</div>
                      <div class="widget-subheading">
                        Makes the app footer bottom fixed, always visible!
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="p-3">
            <ul class="list-group">
              <li class="list-group-item">
                <h5 class="pb-2">Page Section Tabs</h5>
                <div class="theme-settings-swatches">
                  <div role="group" class="mt-2 btn-group">
                    <button type="button" class="btn-wide btn-shadow btn-primary btn btn-secondary switch-theme-class"
                      data-class="body-tabs-line">
                      Line
                    </button>
                    <button type="button"
                      class="btn-wide btn-shadow btn-primary active btn btn-secondary switch-theme-class"
                      data-class="body-tabs-shadow">
                      Shadow
                    </button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="app-main">
    <div class="app-main__outer">
      <div class="app-main__inner">

        <div class="row">
          <div class="col mb-3">
            <div class="card shadow-lg">
              <div class="card-header bg-malibu-beach">Add Exam result</div>
              <div class="card-body">
                <form id="apiForm" method="POST">
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <label for="dropdown">Student</label>
                        <select id="gender" name="gender" class="form-control" required>
                          <option disabled selected value>Select</option>
                          <option value="male">Male</option>
                          <option value="female">Female</option>
                          <option value="other">Other</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="dropdown">English</label>
                        <input type="number" class="form-control" id="english" name="english" placeholder="English" />
                      </div>
                      <div class="form-group">
                        <label for="dropdown">Social Studies</label>
                        <input type="number" class="form-control" id="sst" name="sst" placeholder="Social Studies" />
                      </div>

                    </div>
                    <div class="col">
                      <div class="form-group">
                        <label for="dropdown">Class</label>
                        <select id="schoolclass" name="schoolclass" class="form-control" required>
                          <option disabled selected value>Select</option>
                          <option value=1>Primary One</option>
                          <option value=2>Primary Two</option>
                          <option value=3>Primary Three</option>
                          <option value=4>Primary Four</option>
                          <option value=5>Primary Five</option>
                          <option value=6>Primary Six</option>
                          <option value=7>Primary Seven</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="phone">Math</label>
                        <input type="number" class="form-control" id="math" name="math" placeholder="Math" />
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <label for="dropdown">Exam</label>
                        <select id="exam" name="exam" class="form-control" required>
                          <option disabled selected value>Select</option>
                          <option value="Beginning">Beginning of Term</option>
                          <option value="Mid">Mid Term</option>
                          <option value="End">End of Term</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="dropdown">Integrated Science</label>
                        <input type="number" class="form-control" id="science" name="science" placeholder="Science" />
                      </div>
                      

                    </div>
                  </div>

                  <button type="submit" class="btn btn-primary">
                    Add Exam Result
                  </button>
                </form>
                {% if error_message %}
                <div class="p-2 mt-3 d-flex justify-content-center badge badge-danger">
                  {{ error_message }}
                </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="main-card mb-3 card">
              <div class="card-header">Students</div>
              <div class="table-responsive">
                <table class="align-middle mb-0 table table-bordered table-striped table-hover experts">
                  <thead>
                    <tr>
                      <th class="text-left">#</th>
                      <th>Name</th>
                      <!-- <th class="text-center">Last Name</th> -->
                      <th class="text-center">Age</th>
                      <th class="text-center">Registration</th>
                      <th class="text-center">Gender</th>
                      <th class="text-center">Nationality</th>
                    </tr>
                  </thead>
                  <tbody></tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="app-wrapper-footer">
        <div class="app-footer">
          <div class="app-footer__inner">
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    // document.getElementById('output').innerHTML = location.search;
    // document.getElementByClassName("chosen-select").chosen();
    const form = document.getElementById("apiForm");
    const errorMessage = document.getElementById("errorMessage");
    const token = localStorage.getItem("token");
    const selectedItems = new Set();

    const selectBtn = document.querySelector(".select-btn"),
      items = document.querySelectorAll(".item");

    selectBtn.addEventListener("click", () => {
      selectBtn.classList.toggle("open");
    });

    items.forEach((item) => {
      item.addEventListener("click", () => {
        item.classList.toggle("checked");
        if (item.classList.contains("checked")) {
          selectedItems.add(item.textContent); // Add selected item to the Set
        } else {
          selectedItems.delete(item.textContent); // Remove deselected item from the Set
        }
      });
    });


    apiForm.addEventListener("submit", async function (event) {
      event.preventDefault();

      const firstname = document.getElementById("firstname").value;
      const lastname = document.getElementById("lastname").value;
      const gender = document.getElementById("gender").value;
      const phone = document.getElementById("phone").value;
      const organisation = document.getElementById("organisation").value;
      const email = document.getElementById("email").value;
      const category = document.getElementById("expertise").value;
      const sub_category = document.getElementById("subcategory");
      const selectedSubcategories = Array.from(
        subcategorySelect.selectedOptions
      ).map((option) => option.value);
      const selectedArray = Array.from(selectedItems)
        .map((item) => item.trim())
        .join(", ");
      const commaSeparatedString = selectedSubcategories.join(", ");

      const itemBody = {
        phone_number: phone,
        lastname: lastname,
        firstname: firstname,
        organisation: organisation,
        gender: gender,
      };

      const response = await fetch("/api/v1/auth/register_expert", {
        method: "POST",
        headers: {
          "content-type": "application/json",
          Authorization: `Bearer ${token}`,
        },
        body: JSON.stringify(itemBody),
      });

      try {
        const responseData = await response.json();
        if (response.ok) {
          window.location.reload();
          window.location.href = window.location.href;
        } else {
          errorMessage.textContent = responseData.error;
        }
      } catch (error) {
        console.error("Error parsing response:");
      } finally {
        window.location.reload();
      }
    });
  });
</script>
<style>
  .select-btn {
    border: 1px solid #ced4da;
    display: flex;
    height: calc(2.25rem + 2px);
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }

  .select-btn .btn-text {
    font-size: 17px;
    font-weight: 400;
    color: #333;
  }

  .select-btn .arrow-dwn {
    display: flex;
    height: 21px;
    width: 21px;
    color: #fff;
    font-size: 14px;
    border-radius: 50%;
    background: rgb(91, 73, 255);
    align-items: center;
    justify-content: center;
    transition: 0.3s;
  }

  .select-btn.open .arrow-dwn {
    transform: rotate(-180deg);
  }

  .list-items {
    position: relative;
    margin-top: 15px;
    border-radius: 8px;
    padding: 16px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    max-height: 220px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: none;
  }

  .select-btn.open~.list-items {
    display: block;
  }

  .select-btn.open~.list-items::-webkit-scrollbar {
    width: 8px;
    height: 0;
  }

  .select-btn.open~.list-items::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 8px;
  }

  .select-btn.open~.list-items::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .list-items .item {
    display: flex;
    align-items: center;
    list-style: none;
    height: 50px;
    cursor: pointer;
    transition: 0.3s;
    padding: 0 15px;
    border-radius: 8px;
  }

  .list-items .item:hover {
    background-color: #e7edfe;
  }

  .item .item-text {
    font-size: 16px;
    font-weight: 400;
    color: #333;
  }

  .item .checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    width: 16px;
    border-radius: 4px;
    margin-right: 12px;
    border: 1.5px solid #c0c0c0;
    transition: all 0.3s ease-in-out;
  }

  .item.checked .checkbox {
    background-color: rgb(91, 73, 255);
    border-color: rgb(91, 73, 255);
  }

  .checkbox .check-icon {
    color: #fff;
    font-size: 11px;
    transform: scale(0);
    transition: all 0.2s ease-in-out;
  }

  .item.checked .check-icon {
    transform: scale(1);
  }
</style>
<script>
const token = "{{ token }}";
  const user = "{{ user }}";
  const role = "{{ role }}";

  // Check if the token is not empty and store it in local storage
  if (token) {
    localStorage.setItem("token", token);
  }
  if (user) {
    localStorage.setItem("user", user);
  }
  if (role) {
    localStorage.setItem("role", role);
  }  
  // if (storedUser === null || storedUser === "None" || storedUser === "" || typeof storedUser === "undefined") {
  //   logout();
  // }

  function logout() {
    // Clear the user token from localStorage
    localStorage.clear();

    // Redirect to the index.html page
    window.location.href = "/"; // Redirect to the index page
  }

  // Attach the logout function to the logout button/link
  const logoutButton = document.getElementById("logoutButton");
  if (logoutButton) {
    logoutButton.addEventListener("click", logout);
  }

  document.addEventListener("DOMContentLoaded", function () {
    const token = localStorage.getItem("token"); // Get the token from local storage

    // Fetch top users data
    fetch("/api/v1/auth/students", {
      headers: {
        Authorization: `Bearer ${token}`,
      },
    })
      .then((response) => response.json())
      .then((topUsersData) => {
        console.log(topUsersData)

        topUsersData.sort((a, b) => b.created_at - a.created_at);
        const tableBody = document.querySelector(".experts tbody");
        topUsersData.forEach((user, index) => {
          const tableRow = document.createElement("tr");
          const anchor = document.createElement("a");
          anchor.href = `/student_results.html?user_id=${user.user_id}`;
          anchor.textContent = user.user_id;
          const cell = document.createElement("td");
          cell.appendChild(anchor);
          tableRow.appendChild(cell);
          tableRow.innerHTML += `
                <td>
                  <div class="widget-content p-0">
                    <div class="widget-content-wrapper">
                      <div class="widget-content-left flex2">
                        <div class="widget-heading">${user.firstname} ${user.lastname
            }</div>
                      </div>
                    </div>
                  </div>
                </td>
    
                <td class="text-center">${user.age 
            }</td>
                <td class="text-center">${user.registration 
            }</td>
                <td class="text-center">${user.gender 
            }</td>
                <td class="text-center">${user.nationality
            }</td>`;

          tableBody.appendChild(tableRow);
        });
      })
      .catch((error) => console.error("Error fetching top users data:", error));
  });
</script>
{% endblock %}